[2017-04-13 02:13] MarcoWorms opened #3 "More information about placeholder and flip"
I'm curious, since partial application is a powerful feature for composing new functions, why haven't you added `R.__` or `R.flip`?

[2017-04-14 21:34] selfrefactor commented on #3
I also want them to be part of Rambda as they could be very powerful methods.

I add a label 'enhancement' to this issue and I will keep you up-to-date with the progress.

[2017-04-14 21:47] MarcoWorms commented on #3
Awesome! :D

[2017-04-16 07:16] selfrefactor commented on #3
Update - R.flip is ready as well as R.curry but both will work only for functions with maximum 3 arguments. This limitation has influence mostly when you try to curry or flip your own functions.

As all Rambda methods has maximum 3 arguments, R.flip will work just fine with all of them.

The code is now only in the source file - rambda.js as I want to create some more tests, before pushing it forw

[2017-04-16 08:35] selfrefactor commented on #3
R.__ is not possible implement without rewriting the whole library and to me is seems like overkill.

Also for R.flip - it will be added to Rambdax, which is library in development, that extends Rambda with more methods.

I feel that as more options we have, as easier is to write hard to read code.

Still, I thank you for the suggestion and I hope you understand my reasoning.

If your code style r

[2017-04-18 17:37] #3 closed

[2017-05-25 11:47] dacz opened #4 "Modifying arguments"
Hi, fan of ramda and looking for smaller and faster implementation, arrived to your rambda. I was curious about the implementation and I'd like to ask: for example `prepend` method (as far as I can see in the code) modify the argument (the array). The statement `const clone = arr` do not clone array, co modifying `clone` will modify the `arr`.

Or am I wrong...?

BTW: I like the way you curry most

[2017-05-26 20:22] selfrefactor commented on #4
Great issue and thank you for the detailed explanation.
I will look onto it and get back to you in a few hours.

As for my curry trade-off - I learned my lesson that we can't have everything and better fit with the best case scenario.

You are absolutely right that if undefined is passed as argument, most of the Rambda's methods will break.

This didn't happen to me through my practice and I can s

[2017-05-26 20:26] selfrefactor commented on #4
Spon on - it does modify of course. I should used Array.from

Bugfix will be deployed within hours

[2017-05-26 20:36] selfrefactor commented on #4
I am closing the issue as bugfix is deployed.

It was a childish mistake, as I use Array.from on most of my clone declarations.

Thanks again for the help.

[2017-05-27 10:19] dacz commented on #4
Thanks @selfrefactor . I really like your idea to have lightweight ramda clone.

Regarding to `Array.from` ... it was new to me. I usually use `concat`. It has better browser support and according to my tests it's much faster. I made small primitive perf test ( this gist: https://gist.github.com/dacz/a9af8b96f2f607fc8f96d0bc01f2eb7b ). Maybe it would be better to clone arrays.

[2017-05-27 10:22] selfrefactor commented on #4
Much faster indeed :)

Do you want to do a PR or you leave the pleasure to me?

[2017-05-27 10:38] dacz commented on #4
I played with adjust, too... and updated gist.

I'm happy you see it valuable. Pleasure is yours, if you want. I'm happy to help.

Happy to see rambda as a fast a lightweight toolbox for me in a short time. What do you think to make it consisting of each function separate file? It would enable to optimize even bundle size to import just functions one needs.

[2017-05-27 14:23] selfrefactor commented on #4
I accept your recommendation and now methods are separated in files, so you can further optimize the size of your bundle.

Good luck and thanks again for your nice words.

I will close the issue, but if you have further feedbacks, please continue the discussion.

[2017-05-27 14:23] #4 closed

[2017-06-05 09:15] danrspencer opened #5 "Curry style"
We were looking at using Rambda instead of Ramda because of the speed, size and complexity benefits but we weren't huge fans of the current Curry implementation.

We liked that you say you're currying at call rather than implementation because it removes the ambiguity over whether the function you were calling is curried or not, but disliked that you have to change the interface of the original fu

[2017-06-08 08:04] selfrefactor commented on #5
Thank you for taking the time to file the issue.

I tried to explain myself here https://selfrefactor.gitbooks.io/blog/content/argumenting-rambdas-curry.html

Rambda's curry is not used internally, but you are fully right that it is not a good sign to change so much the interface of curry.

So I will file this issue as enhancement and I will replace current Ramda's curry with your suggestion and m

[2017-06-08 19:35] selfrefactor commented on #5
Update:

Your suggested example does not work when using Ramda original curry [https://goo.gl/JTPJTZ](https://goo.gl/JTPJTZ)
So do you want Rambda curry to work as Ramda or to pass the example expectations?

[2017-06-09 10:13] danrspencer commented on #5
My thoughts came about from me misunderstanding how Rambda's currying works when I first started trying to use it. I wasn't expecting it to work like Ramda's.

As I said I quite like the fact that Rambda's currying is done at call time rather than during the implementation of a function, it felt more open / obvious but didn't realise at first that it was based on using objects as parameters.

I ha

[2017-06-09 11:14] selfrefactor commented on #5
Ok, now I have a clearer view.

I will go and implement Rambda's curry to work as Ramda's curry does, thus I will ignore your example.
This way one can easily switch from Rambda to Ramda without much hustle.

Current Rambda's curry will be renamed to `partialCurry` and I will link to the blog post about my argumentation.

If you have further comments or you have better idea for name than `partialC

[2017-06-13 06:54] selfrefactor commented on #5
Changes are implemented in Rambda version 0.7.0
Closing the issue

[2017-06-13 06:54] #5 closed

[2017-06-19 22:40] ctrlplusb opened #6 "R.compose missing from API docs"

[2017-06-20 14:49] selfrefactor commented on #6
Thank you for noticing that.
Will be fixed in the next API update

[2017-06-24 21:54] selfrefactor commented on #6
Issue fixed, closing it now.

[2017-06-24 21:54] #6 closed

[2017-06-27 22:30] Fatxx opened #7 "Adding array reduce functionality"
hello @selfrefactor ,

Are you willing to accept an implementation for `R.reduce()`? Or is it out of scope?

Thank you and keep the good work.

[2017-06-28 06:40] selfrefactor commented on #7
Will be implemented before the end of the week.
Thank you for the good words.

[2017-06-28 10:47] Fatxx commented on #7
Could I open a merge request with this?

[2017-06-28 11:46] selfrefactor commented on #7
Sure, you can :+1:

[2017-06-28 11:56] selfrefactor commented on #7
I check your PR, there are some things to be done, before proceeding to build process and `npm publish`

My edit will curry `initialValue` as now it is not handled. After doing this and write a few more test cases, we are ready to proceed further. I am at work now, so I will do that later today.

[2017-06-28 12:00] Fatxx commented on #7
Ok, great! Thank you.

[2017-06-28 16:02] selfrefactor commented on #7
Published to NPM and closing the issue.

[2017-06-28 16:02] #7 closed

[2017-06-29 19:36] jpgorman opened #9 "Webpack Uglify won't run on module as it is compiled as es6"
Currently this module can't be used in production with webpack as it is es6 and isn't supported by the webpack uglify module.

Can you compile the package to es5 first with either babel or something else, before building with webpack.

[2017-07-06 09:04] selfrefactor commented on #9
Nice catch! Yes, I will do that.

[2017-07-06 09:31] selfrefactor commented on #9
A clarification is needed - which file you need compiled - `index.js` or `webVersion.js` ?

[2017-07-06 10:23] jeanpaulgorman commented on #9
It's the compiled node file - index.js

[2017-07-06 10:26] jeanpaulgorman opened #11 "Update API/Docs to include addIndex function"
My bad, I forgot to submit this as part of my original PR. I'll create another PR to resolve this issue :)

[2017-07-06 10:56] selfrefactor commented on #11
Just edit main README.md , not the one in ./docs
I will build it afterwards with docsify

[2017-07-06 10:58] jeanpaulgorman commented on #11
Sure thing :)

[2017-07-07 06:42] #11 closed

[2017-07-07 08:15] selfrefactor commented on #9
Version 0.7.3 should be now `es2015` compatible. Please let me know if `Uglify` still doesn't work.

[2017-07-07 08:20] jeanpaulgorman commented on #9
Fantastic, I'll give it a try :)

[2017-07-10 13:24] selfrefactor commented on #9
I am closing the issue, assuming that it works.

[2017-07-11 18:18] katywings opened #13 "Curry === is problematic"
First off, i like your work! Its really cool to learn fp style without reading through dozens lines of code :).

I know you copied the curry function from a gist comment 😄 , i took some time to learn how it works and notices a problem - especially when its used together with reduce

Problem in one sentence: If the curried function is called with too many arguments, it will return a new curried fun

[2017-07-11 19:38] selfrefactor commented on #13
I appreciate your nice words, but mostly catching these strange behaviors.

Back to business - I have edited `curry` upon your suggestion. and both of the above examples are included in the tests.

Just want to ask you, is there still a need for a change in `reduce` in the context that your `reduce` example now is working correctly?

Sorry, but I fail to fully understand the issue with `reduce` an

[2017-07-11 19:47] selfrefactor opened #14 "mapAsync and composeAsync suggestion?"
Currently both methods are part of `Rambdax`

I feel that they could be more useful as part of `Rambda` API, but I will wait Rambda users to decide that.

Please comment if you have opinion on the topic.

---
#### composeAsync

- `compose` that accepts `async` functions as arguments

#### mapAsync

Sequential asynchronous mapping with `fn` over members of `arr`

[code]

[2017-07-12 08:59] katywings commented on #13
Thanks for the fast feedback and changes!

The approach to change reduce was just thought as an alternative - rather bad alternative because the callback of builtin map also gets idx and array. There is no *bug* or so in reduce! Actually I noticed the bug in **curry** because I was trying around with reduce and a curried function.

In Ramda functions like reduce and map dont provide idx and array

[2017-07-12 09:34] selfrefactor commented on #13
Thank you for the detailed explanation.

I think I will go with the current state and leave it as it is.

I am closing the issue now.

[2017-07-12 09:34] #13 closed

[2017-07-16 19:19] jpgorman commented on #9
Just tried it today (I've been away). Works a treat, thanks :) 👍

[2017-07-20 11:58] #9 closed

[2017-07-22 16:51] WhoAteDaCake opened #16 "Add eslint"
I believe that we should use a linter, as then contributing to the repo would be easier and everyone would be using same coding conventions.

[2017-07-22 19:21] WhoAteDaCake opened #18 "Using internal curry"
I've noticed that a lot of functions have a check whether the arguments are  defined inside of them.
To cut down on size, wouldn't it be better to just wrap them in curry functions ?

[2017-07-24 06:40] selfrefactor commented on #18
Spon on!
Marked as `enhancement` with the idea to be solved today or tomorrow

[2017-07-24 06:47] selfrefactor commented on #16
Actually there is a linter configuration that I use.
I will share the code and I will add `Contribute` section, which will include lint instructions.

[2017-07-25 18:59] WhoAteDaCake commented on #18
The only downside of this is that It will slow them down by a tiny margin.

[2017-07-26 07:38] selfrefactor commented on #18
It seems it is not tiny, at least with the current implementation of `R.curry`

![rambda-benchmark](https://user-images.githubusercontent.com/2149294/28609756-933080b8-71ee-11e7-83f5-c73ecc38ff60.png)

[2017-08-01 12:09] selfrefactor commented on #18
I am closing the issue now, as currently there isn't appropriate solution available.

[2017-08-01 12:09] #18 closed

[2017-08-01 12:12] selfrefactor opened #21 "R.path when non-object is passed on"
`R.path('a', undefined) => [Function]`

[2017-08-01 12:14] selfrefactor opened #22 "R.omit to accept also string as first argument"
`R.omit('foo,bar,baz', {a: 1, foo: 2}) => {a: 1}`

[2017-08-01 12:14] selfrefactor opened #23 "add R.keys"
`R.keys({a: 1, b: 2, c: 3}); //=> ['a', 'b', 'c']`

[2017-08-01 12:15] selfrefactor opened #24 "add R.not"
[code]

[2017-08-01 12:16] selfrefactor opened #25 "add R.includes"
[code]

[2017-08-02 19:19] selfrefactor commented on #16
Closing the issue - lint instructions are added to `Contribute guidelines` section.

[2017-08-02 19:19] #16 closed

[2017-08-02 20:37] #24 closed

[2017-08-02 20:37] #25 closed

[2017-08-02 20:42] #21 closed

[2017-08-03 17:11] #22 closed

[2017-08-16 17:15] vlad-zhukov opened #27 "Migrate to ES modules"

[2017-08-18 13:18] selfrefactor commented on #27
Can you please provide some benefits for the migration? Or it is more of style related issue?

[2017-08-18 15:54] Vlad-Zhukov commented on #27
It's format to be supported by browsers and Node soon. However the main benefit right now is tree-shaking.

Would you like me to send a PR?

[2017-08-18 18:00] selfrefactor commented on #27
Thank you for the clarification.
Yes, PR will do good if you have the time for that.

[2017-08-23 16:36] #14 closed

[2017-08-23 16:38] selfrefactor commented on #27
That was nice to create smaller bundle. It feels like a win situation.
Is there anything left with this issue or should we close it?

[2017-08-23 16:49] Vlad-Zhukov commented on #27
I was planning to convert all files to ES modules, with it I expect bundles to be even smaller and more tree-shake friendly.

What do you think about it? Do you like ES modules or prefer to stick with CJS?

[2017-08-23 17:19] selfrefactor commented on #27
ES modules for the win :)

[2017-08-24 08:40] Vlad-Zhukov commented on #27
@selfrefactor do you mind moving bundled files to `dist` folder and excluding it from the git?

[2017-08-24 09:08] selfrefactor commented on #27
No, I don't mind.
But I am not sure why you want them excluded from the git.

[2017-09-01 13:36] #27 closed

[2017-09-11 15:26] wagerfield opened #36 "defaultsTo shouldn't factor in type"
As far as I can tell `defaultsTo(defaultArgument, inputArgument)` is the only method that provides a way for defaulting to a value (providing some 'or' logic). However, the built-in test for `inputArgument` being the same `type` as `defaultArgument` limits the use of this function. It is my opinion that `defaultArgument` should only be returned if `inputArgument` is `undefined`.

I would like to c

[2017-09-11 15:47] wagerfield commented on #36
An alternative implementation of `rambdaPathOr` that does work:

[code]

...I'm still a little new to the 'data last' function design, so perhaps the above function can be written more elegantly using `compose`, `pipe`, `ifElse`, `equals` etc?

[2017-09-13 07:12] selfrefactor commented on #36
Thank you for bringing up this issue.

I think that current `defautTo` implementation brings a bit more safety in some edge cases:

[code]
I like that I have this option even if it is not the most common case. I created this behavior because I needed in practice and I still find it useful.

Anyway, your proposal for `pathOr` method seems really nice and we'll add it to the API. The remaining quest

[2017-09-13 11:11] wagerfield commented on #36
Fair enough re. `defaultTo`—I can certainly appreciate it's use case.

Reason I posted this issue is because it is a common design pattern for an `options` object to be passed to a function/constructor where certain key values can have multiple types (typically 2).

One such example might be a key value on an `options` object that can either be a `function` or a falsy value like `false` or `null`.

[2017-09-13 11:28] selfrefactor commented on #36
I see your use case and I am convinced that `defaultTo` should follow original spec, which is if second argument is one of null, undefined or NaN then return the first argument.

As for the current implementation with type checking - it will be moved to [Rambdax](https://github.com/selfrefactor/rambdax) library as method `R.default`

I will add the new version of `defaultTo` and `pathOr` till the

[2017-09-13 11:52] wagerfield commented on #36
`null` and `NaN` _should not_ be considered the same as `undefined`. `null` and `NaN` are actual values, `undefined` is no value.

`pathOr` should _only_ default to `defaultValue` when the `type` is 'Undefined'. **This is really important.**

Might I suggest you implement the function I posted above as `pathOr` to align with `rambda` (with the nice addition of being able to specify the path using

[2017-09-13 12:53] wagerfield commented on #36
Ignore what I posted above re. `null` and `NaN` not being counted as value types for defaulting to a value...I now see where you got you logic for `defaultTo` from: `ramda`. Apologies!

http://ramdajs.com/docs/#defaultTo

I also see where the name comes from, so also ignore my suggestion to rename `defaultTo` to `defaultOr`. You should stick as close to `ramda` as possible IMO :)

[2017-09-13 13:03] selfrefactor commented on #36
Yes, I accept your recommendation to stay as close to Ramda API as possible.
Before there were more differences like that `R.map/filter` didn't work with objects. Also there were missing simple but valuable APIs as `R.ifElse`, `R.isNil`, `R.identity`, ...

Now `Rambda` feel a bit more mature with this fixes and it is also now `tree-shaking`-able.

![bundlephobia](https://user-images.githubusercont

[2017-09-13 13:05] wagerfield commented on #36
...so to follow up, here is my final proposal:

[code]

[2017-09-13 13:15] selfrefactor commented on #36
In the context of not adding additional API, I think it is better to pass an additional argument, which will enable type checking.
So for type checking `R.defaultTo` will look like `R.defaultTo(1, foo, true)`

The other option is to add `typeDefaultTo` and `typePathOr` to `Rambdax`.

Let me know what you think about it?

[2017-09-13 13:32] wagerfield commented on #36
`defaultTo` should have the same signature as it does in `ramda` IMO.

Adding another argument wouldn't work because it doesn't adhere to ramda's "data last" design. With your proposal of `R.defaultTo(1, foo, true)` the data is demoted to the second to last argument—so the usefulness of currying diminishes somewhat since you wouldn't actually get the value back until you passed all 3 args. This wo

[2017-09-13 13:53] selfrefactor commented on #36
Up until now `R.defaultTo` didn't provide curring, which will change with the next commit.

As for your argumentation to add `typeDefaultTo` to `Rambda` - it seems like the best solution so I will go with that.

What about `typePathOr`? Do you want it also as a new API to `Rambda` ?

[2017-09-13 13:59] wagerfield commented on #36
Yer I think that would also be a really useful function to have for sure!

Not sure whether the functions should be named:

- `typeDefaultTo`
- `typePathOr`

or

- `typedDefaultTo`
- `typedPathOr`

...basically `type` or `typed` —what do you think?

[2017-09-13 14:01] selfrefactor commented on #36
:) I was thinking the whole time that `typed` will be better.
So we'll do that then. As I mentioned earlier I will add the methods before the end of the day.

[2017-09-13 14:08] wagerfield commented on #36
Nice one, very much appreciated!

[2017-09-14 14:04] jpgorman opened #37 "Update docs to include isNil"

[2017-09-15 11:57] selfrefactor commented on #37
Fixed

[2017-09-15 11:57] #37 closed

[2017-09-18 14:06] selfrefactor commented on #36
Closing the issue as version 0.9.1 has now all proposed changes.

[2017-09-18 14:06] #36 closed

[2017-09-18 15:33] manubo opened #38 "chain or flatMap missing?"
Hi, I am looking for a `chain` or `flatMap` function, but can't find it. Is there such a function and if so, what is it's name? If not, is there a special reason and might I submit a pull request to add it?

[2017-09-19 12:49] selfrefactor commented on #38
No, `chain` methods is not included, but feel free to submit PR.

While building Rambda, I had to make decision for the most common API methods and that is the reason why you can't find `chain`.

[2017-09-22 07:50] selfrefactor commented on #38
I am closing the issue as I haven't received further response. Still, if you send a PR for this method, I will approve it.

[2017-09-22 07:50] #38 closed

[2017-09-27 12:59] wagerfield opened #39 "add 'forEach' and 'times'"
Hello, me again :)

I would like to see ramda's `forEach` and `times` methods added to `rambda`:

http://ramdajs.com/docs/#forEach

http://ramdajs.com/docs/#times

I use these methods all the time and am missing them dearly from `rambda` :'(

[2017-09-27 14:48] selfrefactor commented on #39
Hello, mate!

Thanks for the suggestion - it will be done faster than your previous request as I have more free time now.

Just to inform you that Rambda has now Typescript definitions by default in case you use Typescript.

[2017-09-28 20:42] selfrefactor commented on #39
So, the two methods are added in version 0.9.3

Note, that unlike `Ramda`'s **forEach**, Rambda's one doesn't dispatch to `forEach` method of `arr`. If you need this functionality, please let me know and I will add it.

I will close the issue once you confirm that this version of `forEach` is fine with you.

[2017-09-29 08:52] selfrefactor commented on #39
Check [https://github.com/ramda/ramda/blob/master/test/forEach.js](https://github.com/ramda/ramda/blob/master/test/forEach.js)

There we have the following test, which won't pass with Rambda's `forEach`

`
  it('dispatches to `forEach` method', function() {
    var dispatched = false;
    var fn = function() {};
    function DummyList() {}
    DummyList.prototype.forEach = function(callback) {

[2017-10-03 10:01] selfrefactor commented on #39
I am closing the issue, but feel free to comment if there is need to.

[2017-10-03 10:01] #39 closed

[2017-10-10 09:46] jpgorman opened #40 "Create `without` function"
http://ramdajs.com/docs/#without

[2017-10-10 09:46] jpgorman opened #41 "Create `reject` method"
http://ramdajs.com/docs/#reject

[2017-10-10 21:49] #40 closed

[2017-10-10 23:02] selfrefactor commented on #41
Thank you for the contribution.

You have even added typings(you just missed curring for `without`).

The new methods are available in the new version `0.9.4.`

[2017-10-10 23:10] #41 closed

[2017-10-11 08:46] ivan-kleshnin opened #44 "Mutable API"
Just wanted to ask why? When you create a new reversed array it's probably just a shallow copy. There's no need to "fight" for RAM too much as JS **already** has memory sharing built-in. It's just not protected sharing and we protect it by convention with Ramda approach.

[code]

`ys` does not double the memory usage. It's only additional pointers (4 bytes each)!

I.m.o the convention of "every fu

[2017-10-11 17:09] kevinbeal opened #45 "Broken index.d.ts"
Using Typescript 2.5.2, errors are emitted because of the syntax used in the definition file for this project.

On rambda 0.9.3, in index.d.ts, on lines 387 and 388, the syntax is wrong.

[code]

I'm not an expert on Typescript, but `list: any[]` at the end looks like a mistake.

The error specifically is `Expecting new line or semicolon`. Because this line is broken, you get other errors down the

[2017-10-11 21:55] selfrefactor commented on #45
Thank you for finding this bug.  The bug is fixed in the new version `0.9.5`.

[2017-10-11 22:08] selfrefactor commented on #44
I agree with your reasoning and I will change that mutable behavior.

Initially I added `R.reverse` because I created helper method, that directly uses the native method(which mutates the array).

Methods `toString`, `toLower`, `toUpper` and `trim` uses the same helper.

I will post again, once this issue is solved.

[2017-10-11 22:21] #45 closed

[2017-10-11 22:22] selfrefactor commented on #44
The bug is fixed in the new version `0.9.6`

[2017-10-12 10:28] ivan-kleshnin commented on #44
Great!

Btw. Ramda adds ES6 modules in the 0.25 version so Webpack / Rollup treeshaking can be applied. Then only functions that are really used can be bundled.

So the purpose of this repo as *tinier Ramda* can be argued as "worthless" by some people.
As for me – I think the purpose of having "easier Ramda, with no fuss" is still valid. Maybe you have (or will have) some additional motivations to

[2017-10-12 11:04] selfrefactor commented on #44
Thanks for the feedback.

I didn't know that Ramda is now tree-shakeable and you are right that Rambda's argumentation should be changed to reflect this news. If you particular idea for the description of Rambda, please feel free to suggest it as I consider "easier/faster Ramda, with no fuss" more like a general guidance.

This seems valid suggestion - will do it.

Can you just explain a bit furth

[2017-10-12 11:51] ivan-kleshnin commented on #44
I didn't try it yet, but I plan to. So I have no idea if it will be easy or *not-so-easy* addition.
I'll try to remember to leave a note here after that.

---

I use the following helpers:

[code]

Then:

[code]

But lenses are much more powerful because you can

a) modify arrays

[code]

b) apply functions with `over`

[code]

c) get items

[code]

d) make your own lenses working with anything: f

[2017-10-12 12:40] ivan-kleshnin commented on #44
Good question. To begin with, I would not copy the equivalent API – it's a lot of work to support.
(especially for Rambda and RambdaX)

I would just made a list of links to Ramda's original API + the difference.

[2017-10-12 12:47] selfrefactor commented on #44
Wow- that was a long explanation and I appreciate it.

I am not big on lenses, so I needed some time to comprehend your explanation. Still, I don't feel fully comfortable adding those methods by myself, as I have never used lenses before. I would accept PR with your suggestions, if you feel like it doing it.

As for tree-shaking - I am asking as my attempts with Rollup and Webpack are not as smoot

[2017-10-12 14:33] ivan-kleshnin commented on #44
Easier examples are also fine. Some of Ramda's originals are hard to follow.

Ok, I'll consider that 👍

[2017-10-15 08:47] ivan-kleshnin commented on #44
I've succeeded with working treeshaking with Ramda. I'm going to post repo examples soon.
Two important notes:

1) Bundle size is still big (bigger than Rambda). A lot of currying machinery is pulled for every function in Ramda.

2) Treeshaking works only for production builds (probably because it's very expensive in CPU). So the only way to keep apps with Ramda fast is to vendor-split it.  Bundle

[2017-10-15 09:08] ivan-kleshnin commented on #44
[code]

[2017-10-15 11:46] selfrefactor commented on #44
Really nice. I also played further with tree-shaking and I found out that I need to remove some of Rambda internal helpers, as Rollup otherwise struggles to perform tree-shake. With `Ramda` and I could create working tree-shaking settings as their helpers also create obstacle for Rollup, so I am very curios how you made that. I will wait for your repo to be ready.

One of the reason for me to buil

[2017-10-15 13:45] ivan-kleshnin commented on #44
I used Webpack. I never tried Rollup – learning both is too expensive in time, unfortunately.

[2017-10-19 10:28] madjam002 opened #46 "Breaking changes on patch update"
`0.9.7` was published recently which now bundles JS which is ES6 rather than ES5.
This is a breaking change and therefore should be a major version bump due to consuming projects now requiring an ES6 compliant environment.

Would it be possible to revert these changes and release a new patch, and then release the change to ES6 as a major version bump (e.g `1.0.0`)?

[2017-10-19 18:45] selfrefactor commented on #46
OK, so you want me to release 0.9.8 which will be compiled to ES5 and then switch to ES6 and publish 1.0.0

That is nice way to satisfy both words and I appreciate your input on the matter.

`0.9.8` will be released within the next 24 hours

[2017-10-19 18:51] madjam002 commented on #46
Yeah pretty much, that way those of us who are pulling down 0.9.x will get the ES5 version which won't break anything, and then upgrading to 1.0.0 will be ES6. To be fair I think if your major version is `0` people just tend to put breaking changes as the minor version bump, e.g `0.10.0` but personally I always increment the major version as that's following semver a bit more strictly.

Thanks for

[2017-10-20 11:44] selfrefactor commented on #46
So `0.9.8` is published and it should be ES5 compatible. I leave the issue open so you have time to report if that is not the case. Once again, thanks for bringing this up.

[2017-10-22 13:30] #46 closed

[2017-10-22 13:49] selfrefactor commented on #44
I am posting a link to a repo, which prove that `Rambda` is more tree-shakeable than `Ramda`

[https://github.com/selfrefactor/tree-shaking-example](https://github.com/selfrefactor/tree-shaking-example)

[2017-10-22 19:04] ivan-kleshnin commented on #44
Thank you. Check also this https://github.com/scabbiaza/ramda-webpack-tree-shaking-examples/pull/2 **output bundle - 877 B**. Looks like there is some magic Webpack plugin that enables a normal tree-shaking :)

[2017-10-27 10:12] ivan-kleshnin opened #47 "Better currying"
In my opinion Ramda's `curry` handles two things not particularly well.

1) It does not care about function name
2) It does not pass `this` properly

#### My implementation

[code]

Now the original `R.curry` fails the tests marked with `!!!`.

I raised this issue earlier I think, but they told me they don't want to support `this` at all or something like that. As for names it can be argued agains

[2017-10-27 10:38] ivan-kleshnin commented on #47
Oh wait, I've read your policies on `currying`. I don't think it suits them so I close this one.
This one will be even slower than Ramda's I guess, and Rambda focus is the performance.

[2017-10-27 10:38] #47 closed

[2017-11-04 07:25] phts opened #48 "Wrong example for append"
There is [a wrong example for append](https://github.com/selfrefactor/rambda#append)

[code]

Should be:

[code]

`'foo'` is added to the end.

[2017-11-04 07:29] phts opened #49 "Add insert and insertAll methods"
Please add [`insert`](http://ramdajs.com/docs/#insert) and [`insertAll`](http://ramdajs.com/docs/#insertAll) methods to rambda. And don't forget to update rambdax

Thanks.

[2017-11-04 07:34] phts opened #50 "`pipe` is not found by Typescript"
Seems to be `pipe` method is missing from `index.d.ts` so Typescript cannot find it, but this method is presented in `modules` folder and in the [documentation](https://selfrefactor.github.io/rambda/#/?id=pipe).

[2017-11-04 20:49] selfrefactor commented on #50
I am not big `pipe` fan(the method in Rambda is introduced by PR not by me) so I intentionally omitted the type definitions(I use Ramda definitions as a base).

In the context that you are opening this issue, I will insert `pipe` definitions with the next release.

[2017-11-04 20:50] selfrefactor commented on #48
Thanks for bringing this up.

[2017-11-04 20:50] #48 closed

[2017-11-04 20:58] selfrefactor commented on #49
Those methods are missing on purpose. I see little value in them, but if you submit PR, then I don't mind including them.

It was similar story with `pipe`, `addIndex`, `pathOr` and `reduce` methods.

I initially didn't included them but after contributors submitted PRs, there are now part of `Rambda`. If you ask me for my honest opinion, I'd remove all of them, but is my policy is not to reject s

[2017-11-07 07:33] selfrefactor commented on #44
@ivan-kleshnin It was nice having this issue-chat but I will close it, as it seems we run out of steam :)

[2017-11-07 07:33] #44 closed

[2017-11-07 07:34] #49 closed

[2017-11-11 22:14] selfrefactor commented on #50
Fixed with v1.0.4

[2017-11-11 22:14] #50 closed

[2017-11-23 13:55] GhostThrone opened #51 "use forIn or forEach instead of map"
Hi guys.

I was checking source code and i found that "map" function is used incorrectly. For that case i advise to use "forIn" or "forEach" instead.

Lines where i found that:
https://github.com/selfrefactor/rambda/blob/e12c5515aabd87bc68de3482e85eadb36c43e5da/modules/lastIndexOf.js#L9

https://github.com/selfrefactor/rambda/blob/e12c5515aabd87bc68de3482e85eadb36c43e5da/modules/equals.js#L33

Tha

[2017-11-27 10:53] selfrefactor commented on #51
Hi @GhostThrone and thanks for bringing this issue up.

Can you collaborate a bit further?

What is the benefit of `forIn` and `forEach` over `map`?

Also what you mean by `map is used incorrectly` as I fail to see that?

[2017-11-28 13:22] MarcoWorms commented on #51
I think what he meant is that this functions mutate something out of their scope, and you aren't using the map to actually map and return new values, you are using it to iterate through an array to mutate something. IMO forEach is more semantic in this case because it clearly states you want to iterate this array to mutate something, but i wouldn't say this is a "wrong usage of map", you could tes

[2017-11-28 16:56] selfrefactor commented on #51
@MarcoWorms Thanks for the clarification. It makes sense. I will do the benchmark and see if a change is required or not.

[2017-11-29 12:47] selfrefactor commented on #51
Benchmark showed that `forEach` is good to go, so it replaces `map` in `R.equals`

In `R.lastIndexOf` I need both key and value so `forEach` is not applicable there.

The change is published in the new version 1.0.5 and I am closing the issue.

[2017-11-29 12:47] #51 closed

[2017-11-29 13:52] MarcoWorms commented on #51
forEach also has access to key and value

[2017-11-29 14:54] selfrefactor commented on #51
Right, right :)

I never use the method and I checked MDN docs for it and I read only the example where key is not showed.

My mistake - next version will  address changing `lastIndexOf` and other methods where `forEach` can be used instead of `map`

[2017-11-30 13:46] GhostThrone commented on #51
@MarcoWorms Thanks.
@selfrefactor maybe i didn't explain in a good way, and yes `forEach` callback takes three arguments `value, index and array itself`
Thanks for all
Greetings ✋

[2017-12-01 10:15] jpgorman opened #52 "Untranspiled es6 distibution is breaking in IE"
When using the latest version of rambda, it breaks in IE as the code is untranspiled es6.

[2017-12-02 08:01] rmdort commented on #52
@selfrefactor Can you transpile es6 modules using babel in `modules` directory when you do a npm release ?

[2017-12-02 09:26] selfrefactor commented on #52
This is from the changelog:

[code]

Which means that you should use version 0.9.8, if you need ES5 comparability.

I will create another ES5 version, once there are enough changes made since 0.9.8

The current Rambda version and version 0.9.8 don't have major functional changes, so for now I suggest leave it as it is.

There is Typescript issue related to `compose` so when and if I find a solutio

[2017-12-02 09:52] rmdort commented on #52
We are using rambda by importing individual modules using

[code]
But the modules are in es6. Even 0.9.8, the files inside `modules` are not transpiled to es5.

For eg:
[code]

The above is es6 code. Wouldnt it be easy to transpile it to es5 before publishing to npm?

[2017-12-02 12:16] selfrefactor commented on #52
@rmdort I appreciate your PRs. I will keep the issue open until you and @jpgorman confirm that it is closable.

[2017-12-02 12:26] rmdort commented on #52
Thanks for the merge. Now we can import modules individually without having to include entire rambda file

[code]

And on rollup, tree shaking will work as usual with es6 import

[2017-12-02 17:00] jpgorman commented on #52
Rather than release two separate packages, would it be better to have an entry point for the non-transpiled es2015 code and another that works across browsers.

https://github.com/rollup/rollup/wiki/pkg.module

[2017-12-02 17:02] jpgorman commented on #52
I suppose my point is that as a library consumer I don't want to have to transpile code from and npm module before I can use it.

[2017-12-02 18:23] selfrefactor commented on #52
There is issue with Webpack [https://stackoverflow.com/questions/46642791/webpack-doesnt-respect-module-field-in-package-json](https://stackoverflow.com/questions/46642791/webpack-doesnt-respect-module-field-in-package-json) that makes your suggestion problematic.

Otherwise, I agree with you that you, as a library consumer, don't need to transpile code so you can use it.
So we are in a pickle her

[2017-12-05 09:44] jpgorman commented on #52
Would it instead be an option to expose a "browser" entry in the package.json and then consumers would have an option when compiling with babel or webpack etc...?

[2017-12-05 16:01] selfrefactor commented on #52
The bug is exactly that when browser field is set, Webpack don't use esm and therefore treeshaking is useless.

New version of Webpack is already in alpha and should be a stable release soon. If the new version overcome the bug, then I would expose browser as you suggest. Otherwise, if the bug stay, then the current solution should also remain(which is to not expose browser field).

[2017-12-05 16:33] jpgorman commented on #52
Okay, that makes sense. Thanks for the update. Is it then worth keeping this issue open until the main package is browser safe, or specify in the Docs that there is a browser safe version tag available separately?

[2017-12-05 16:35] selfrefactor commented on #52
I will do both. Thank for the input.

[2017-12-09 20:44] Xorhail opened #55 "Converge equivalent?"
Does rambda or rambdax include a converge function that is equivalent to the [converge function in ramda](http://ramdajs.com/docs/#converge)?.

[2017-12-11 09:13] selfrefactor commented on #55
I left this types of method on purpose out of Rambda's API so there is no converge equivalent.

Rambda idea was to be used by people who find this types of method as overkill.

I found that some issues we generally have in reading others people code is when developers are too smart in places they don't need to be.

Still, if you interested in creating PR with `converge` method, I'll approve it.

[2017-12-11 10:42] Xorhail commented on #55
I'm interested to find out how you would approach certain problems without the functionality of converge. If for instance I wanted to make sure that every element in an array of scores was an integer, I could write something like this in ramda:

[code]

The use of converge with assoc ensures that only the scores property is modified. How would you approach such a problem without the ability to con

[2017-12-11 12:53] selfrefactor commented on #55
I would go with more direct approach and leaving FP behind in this case, i.e. I will write stupid explicit code.

[2017-12-13 10:11] Xorhail commented on #55
Fair enough. I might create a PR in the near future, when I have some time.
Thanks!

[2017-12-13 10:11] #55 closed

[2017-12-13 10:45] selfrefactor commented on #55
Ok, that would be great. I will keep the issue open for the time being.

[2018-01-03 20:35] selfrefactor opened #57 "defaultTo typing"
change current typing which is
[code]

[2018-01-04 17:56] selfrefactor commented on #57
Use `  type IdentityFunction<T> = (input: T) => T ` where possible

[2018-01-09 20:45] #57 closed

[2018-01-15 23:26] selfrefactor opened #58 "R.equals on boolean tuple"
[code]

[2018-01-15 23:28] #58 closed

[2018-01-25 10:29] sujameslin opened #59 "Missing ramda's `dissoc` function"
Self explanatory with title

[2018-01-29 11:38] selfrefactor commented on #59
Give me 2 days and it will be completed.

[2018-02-01 13:49] selfrefactor commented on #59
Now I have the time for proper look at `R.dissoc`
It is added in the new version.

Note that because `Rambda.omit` uses also string notation, you can use most of the time this method instead of `dissoc`. The only difference is that `dissoc` works with non-string types.

[code]

In other cases both methods are equal:
[code]

[2018-02-01 13:50] #59 closed

[2018-02-02 09:59] jpgorman opened #60 "Unknown plugin "external-helpers""
I've noticed that you now have to set the NODE_ENV variable in your process when using the package, otherwise you get the following error.

Module build failed: ReferenceError: Unknown plugin "external-helpers" specified in "/home/travis/build/jpgorman/react-append-to-body/node_modules/rambda/.babelrc.env.development"

[2018-02-02 19:07] selfrefactor commented on #60
That may be the reason for a bug I have when using it with `Parcel`.
Nice catch @jpgorman I will look into it.

[2018-02-02 19:23] selfrefactor commented on #60
So, I have trouble reproducing this bug. I can confirm that I have seen the same error when I use `Rambda` with `Parcel` but when I opened issue there, it was admitted as bug on `Parcel` side.

This code doesn't produce the bug:
[code]

Let me know how I can reproduce it, as now it is hard for me to take an action.

[2018-02-05 10:02] jpgorman commented on #60
I've used a webpack config as we need to transpile the es6 from the rambda library as part of the build chain.

I've then managed to resolve the issue by adding the `export NODE_ENV=production && ./node_modules ......`

So essentially it looks as though the development env for rambda has some missing dependencies, which show up when you build without specifiying the NODE_ENV as babel preset will d

[2018-02-05 10:07] selfrefactor commented on #60
Thanks for your input. I cloned your repo and it works as you described. So now I can play with '.babelrc' and figure out a solution.

[2018-02-06 07:51] selfrefactor commented on #60
So according to [https://babeljs.io/docs/usage/babelrc/](https://babeljs.io/docs/usage/babelrc/) it defaults to development when no NODE_ENV is set. So now the build is requires NODE_ENV=build and thus we bypass the external-helpers issue.

Thanks for your efforts in closing this @jpgorman

[2018-02-06 07:51] #60 closed

[2018-02-14 09:16] wagerfield opened #61 "Make all functions modules"
Hey @selfrefactor me again—it's been a while!

Would you mind making all exported functions modules—so they can be imported separately?

The functions that are currently only declared in [`rambda.js`](https://github.com/selfrefactor/rambda/blob/master/rambda.js) are:

- [`always`](https://github.com/selfrefactor/rambda/blob/master/rambda.js#L7)
- [`complement `](https://github.com/selfrefactor/ram

[2018-02-14 09:48] selfrefactor commented on #61
Hi @wagerfield

Thank you for opening this issue.

When I wrote those shortcuts, I knew that there will be a day, where I will have to redo them.

So this day seems to be today.

[2018-02-14 09:53] wagerfield commented on #61
Hahahaha @selfrefactor—I hope this day didn't come too soon!

[2018-02-14 14:46] selfrefactor commented on #61
No, it did not.

Actually there were some other issues, which I found, so at the end it wasn't such a small issue as it initially looked like.

The requested changes are implemented in version 1.0.12 and I am keeping the issue open till you confirm that it works from your end.

[2018-02-15 20:05] selfrefactor opened #62 "Move to Typescript"
There is currently an issue with inconsistent and faulty typings.

One way to solve it is to let Typescript build the definitions.

[2018-02-16 07:00] selfrefactor commented on #62
It will be implemented in Rambdax until Typescript has better support for curried functions.

[2018-02-16 07:01] selfrefactor commented on #61
I am closing it assuming that everything is ok. Feel free to reopen if that is not the case.

[2018-02-16 07:01] #61 closed

[2018-02-19 07:36] selfrefactor commented on #62
Typescript 2.8 will bring the needed change to allow proper declaration of curried functions.

[2018-02-26 14:36] kay999 opened #63 "flatMap is missing"
Why is there no flatMap operation? It's not only very useful, it's also the bind operation for the list monad, so it's kind of heresy to omit it from a "functional" library ;)

There's a "flatten" in rambda, but because it flattens recursively, one can't simply define flatMap as compose(flatten, map).

So please consider adding a non-recursive shallowFlatten and also 'flatMap' (ideally an optimize

[2018-02-27 11:50] selfrefactor commented on #63
Thanks for opening the issue and your suggestions.

While you explicitly describe your request, it will be much easier for me if you accompany each of them with simple pseudo-code, such as:

[code]

In general I am open to implement all of your suggestions, but that will have to wait for Typescript 2.8 to arrive(between 1 and 2 months from now).

Then **Rambda** will switch to **Typescript** and a

[2018-03-21 14:36] #62 closed

[2018-04-07 12:18] lesar opened #65 "compose question"
How many parameters can have the right most function?
work using more than one parameter?

[code]

// => []

Have I write a wrong example?

regards

[2018-04-07 13:15] lesar commented on #65
change compose like this sound good?
[code]

regards

[2018-04-09 08:08] selfrefactor commented on #65
Thanks for opening this issue.

Seems like a very good suggestion, so it is implemented with the latest release of `1.1.0`.

[2018-04-09 08:08] #65 closed

[2018-04-09 20:10] #52 closed

[2018-04-29 09:55] davidjbradshaw commented on #63
Why the switch to TypeScript? Surely that will just cut down on the pool of people who could help with the project.

I was just looking at switching to this from Ramda, with the view that I would just implement and contribute any methods that I currently use that are currently missing. If you switch to TypeScript then I think I will just have to fork the project which is a shame.

[2018-05-23 08:35] selfrefactor opened #68 "add R.groupBy"

[2018-05-23 14:45] noobiek opened #69 "forEach allows objects, but doesn't provide props in iterate func"
Hi,

R.forEach as I see in source is just a proxy to R.map, but returns original data.
So it seems natural to pass Objects to R.forEach (just like R.map). But unfrotunately second argument (prop) is lost in iterate function.

R.map((val,prop) => ...prop is OK here..., {...})
R.forEach((val,prop) => ...prop is undefined here..., {...})

Otherwise R.forEach loops over object's properties just fine.

[2018-05-28 08:35] #68 closed

[2018-05-28 08:53] selfrefactor commented on #69
Deployed in the new `1.1.3` version

[2018-05-28 11:35] noobiek commented on #69
Thanks!

[2018-05-28 11:52] #69 closed

[2018-05-30 04:22] aztecrex opened #71 "Create react app project won't build with Rambda dependency"
Trying to build a create-react-app with Rambda dependency and have this error:

[code]

Version is 1.1.3 but also tried 1.1.1 with same result.

[2018-05-31 13:29] ghostthrone commented on #71
Hey
i had the same problem.
To solve i moved `./node_modules/rambda/dist/rambda.esm.js` file content into my project, the project struct is something like this `project-name > src > utils > rambda.js` then you can compile. rambda.js file contains whole content of `./node_modules/rambda/dist/rambda.esm.js`

[2018-06-06 13:55] selfrefactor commented on #71
So I try it out and I can confirm that I also received the bug with `create-react-app`. My initial attempt was to update `rollup`, but when I do that, I receive `babel` related problems. I will need to spend some time investigating this and I just write this to let everybody know that I didn't forgot about this opened issue.

[2018-06-07 14:28] selfrefactor commented on #71
I fix it with replacing `rollup` pipeline with the one of https://github.com/developit/microbundle

Please try update to the newest `rambda` version and the issue should be gone.

[2018-06-07 14:35] #71 closed

[2018-06-15 06:19] wind13 opened #74 "There is no `zipObj` function"
I check this in `ramda`, it has [`zipObj`](http://ramda.cn/docs/#zipObj).

[2018-06-20 13:04] selfrefactor commented on #74
will do

[2018-06-25 09:12] selfrefactor commented on #74
Shipped with the new `1.1.5` version

[2018-06-26 21:59] tyrsius opened #75 "not-so-lightweight disk install"
While the lib code may only be 10kb, the install on disk is almost 3MB

[code]

It comes with the whole repo:

[code]

You should consider using the `files` property on `package.json` to reduce this size. Things like `__tests__` don't need to ship with the installation

[2018-06-29 04:30] wind13 commented on #23
Why I have not find the `R.keys` in the [document](https://selfrefactor.github.io/rambda)?

[2018-06-29 04:50] wind13 opened #76 "No `R.min` and `R.max` function"
There is no `R.min`, `R.minBy` and `R.max`,  `R.max` function which is useful when using `R.reduce`.

- [min](https://ramdajs.com/docs/#min)
- [minBy](https://ramdajs.com/docs/#minBy)

- [max](https://ramdajs.com/docs/#max)
- [maxBy](https://ramdajs.com/docs/#maxBy)

[2018-07-04 14:35] selfrefactor commented on #23
Because it is not implemented. I am reopening the issue and the method will be in the next version. Give me one day for that.

[2018-07-04 14:35] selfrefactor commented on #76
Will land in next version

[2018-07-04 14:36] selfrefactor commented on #75
This is nice suggestion. It will be implemented in the next version.

[2018-07-04 17:24] JFranciscoRader commented on #76
Also R.nth :sweat_smile:
BTW this lib is awesome, thanks.

[2018-07-04 19:54] selfrefactor commented on #76
Thank you for the nice words- one shouldn't do it for the applause, but how human is to like them; so it is appreciated and I won't forget for `R.nth` which is very spot on suggestion.

[2018-07-04 19:54] selfrefactor commented on #76
Thank you for the nice words- one shouldn't do it for the applause, but how human is to like them; so it is appreciated and I won't forget for `R.nth` which is very spot on suggestion.

[2018-07-04 19:54] selfrefactor commented on #76
Thank you for the nice words- one shouldn't do it for the applause, but how human is to like them; so it is appreciated and I won't forget for `R.nth` which is very spot on suggestion.

[2018-07-22 21:02] noobiek commented on #74
Hi,
Not working in REPL (function R.zip and R.zipObj not found).

[2018-07-25 10:38] selfrefactor commented on #74
REPL is not always updated with every release, but I will update it with the next version.

[2018-07-25 15:44] noobiek opened #77 "Curry trouble (example for R.is)"
Hi,

I understand this has to do with curry, but I constantly have trouble with R.is because of this, so...
The troube comes when I do something like this
`if (R.is(Array, someVar)) { ... }`
Now, if someVar is undefined then R.is will return function, so the check will pass.
This may happen in a bigger scope, when my function accepts an object A, and one of its fields B should be an array:
[code]

[2018-07-27 23:38] selfrefactor commented on #77
Please try it now with the latest version.

[2018-07-27 23:38] selfrefactor commented on #76
All methods are implemented in the latest version.

[2018-07-27 23:38] #76 closed

[2018-07-27 23:39] selfrefactor commented on #74
It works now.

[2018-07-27 23:39] #74 closed

[2018-07-27 23:40] selfrefactor commented on #75
It should be fixed in the latest version.

[2018-07-27 23:40] #75 closed

[2018-07-27 23:40] selfrefactor commented on #23
Added in the latest version.

[2018-07-27 23:40] #23 closed

[2018-07-31 09:32] noobiek commented on #77
Hi,
Thanks! Checked out the code, looks OK.
I think that will work nicely.

[2018-08-09 15:42] noobiek commented on #77
Hi,
Would be nice to have this change for the rest of curried functions.
R.map, for examples, suffers from this situation. One could argue that it is up to user to check if supplied value is defined or undefined, but at least lodash/underscore (which I used before) don't care, they return an empty array in such cases.

[2018-08-10 11:12] selfrefactor commented on #77
Ok, so what is your suggestion. `map` to return `[]` when `undefined` is provided instead of array, or I am missing something?

[2018-08-11 07:35] noobiek commented on #77
Yes, that would be consistent with how underscore/lodash work (I guess a lot of people are used to how map() and filter() work there) - return `[]`. And this proved to be convinient, as in some cases you are not sure if some object property will be present (say, Person.PhoneNumbers can be set or not), but you don't have to check, since map() and filter() will return `[]` and the rest of code won't

[2018-08-11 10:11] selfrefactor commented on #77
After such thorough explanation, I have no other option but to integrate your suggestion in the next version of `Rambda`.

[2018-08-11 12:55] noobiek commented on #77
...so that everyone can blame me if this proves to be completely wrong. 🤣
Sure, why not!

[2018-08-13 17:34] noobiek commented on #77
Same with R.merge().
If I run R.merge({...}, undefined) I get curried function returned. Meanwhile Object.assign({a:1}, undefined) workes without problems. So I have to R.merge({...}, undefined||{})....

[2018-08-16 14:18] thejohnfreeman commented on #63
I can help you with some of these functions, but can you answer some questions first? I have read the `CONTRIBUTING.md`.

1. ~It seems like you implement functions twice, in both `lib` and `modules`.~ You have a `prepublish` command to build `lib` from `modules`, but why do you commit it? Do you expect contributors to commit it as well?
2. It seems like you haven't migrated to TypeScript yet. Is t

[2018-08-16 22:13] selfrefactor commented on #63
That is very nice of you to help me out.

Here are the answers:

1. I commit it as it is needed for ES5 support. I don't expect the contributors to run the `prepublish` command.
2. No. Still waiting for varadic support landing in Typescript [https://github.com/Microsoft/TypeScript/issues/5453](https://github.com/Microsoft/TypeScript/issues/5453)
3. `assoc` landed because of someone did a PR. Feel

[2018-08-20 19:54] selfrefactor commented on #77
It should be ready by the end of the week.

[2018-08-23 15:01] soetji opened #79 "equals doesn't compare Date objects correctly"
`R.equals(
  new Date('1/1/2017'),
  new Date('1/1/2018')
) // => true`

[2018-08-25 19:25] #63 closed

[2018-08-26 13:25] selfrefactor commented on #79
Nice catch, but on first glance I don't see a lightweight solution to this.

[2018-08-26 13:25] #79 closed

[2018-09-03 17:47] noobiek commented on #77
Hi,

I don't think that your approach covers all cases (at least, in case of "null" it will throw an exception). Please, see how it's done in Lodash. Your code looks somewhat alike, but not quite.
[code]

[2018-09-10 13:48] selfrefactor commented on #77
I will consider your latest suggestion in the next release.

[2018-09-30 09:01] #77 closed

[2018-10-08 14:58] bisubus opened #80 "Provide public ES modules"
`/es` package entry point is conventional in modern libraries.

The suggestion is to provide `rambda/es` imports in _ES5_ and _ES module format_ , [similarly to how it was done  with `ramda/es`](https://unpkg.com/ramda@0.25.0/es/). Notice that Ramda modules are transpiled to ES5 to skip transpilation on bundling, and there is index reimporting file.

The package has `rambda/lib` which is CJS. It d

[2018-10-12 17:06] tdecker91 opened #81 "Missing typings"
There's still a few missing typings in `index.d.ts`. The following methods are contained in the docs here https://selfrefactor.github.io/rambda/#/  but don't have typings.
[code]

Changes I'd like to introduce https://github.com/selfrefactor/rambda/pull/82

[2018-10-14 11:45] selfrefactor commented on #81
Thanks for the PR. I accepted it and the changes will apply to the next version.

[2018-10-14 14:40] #81 closed

[2018-10-14 14:41] selfrefactor commented on #80
I will close this one as there is the same issue [here](https://github.com/selfrefactor/rambdax/issues/21)

[2018-10-14 14:41] #80 closed

[2018-10-15 10:41] sectsect commented on #79
@soetji
Try the following.
[code]

[2018-10-20 02:05] laurence-myers opened #83 "Typings: omit() return type is the same as the input type"
Here are the existing types:
[code]
This means the type of the output value is the same as the type of the input value, but "omit" is removing properties from the object.

These should be more like:
[code]

[2018-10-20 06:45] selfrefactor commented on #83
You are right about that. Thanks for filling this issue and for suggesting the solution. It will be updated today with new version release.

[2018-10-20 09:29] selfrefactor commented on #83
OK, so this works:

[code]

and it gives me correct warning if I do:

[code]
What I am asking if you can fix the example from the previous comment.

[2018-10-20 10:39] laurence-myers commented on #83
Thanks very much for the quick change! :grin:

Regarding your first example, the type parameters might be confusing. You would expect the second type parameter to be the return type, but that return type is actually automatically inferred using the "Omit" type. Instead, the second type parameter is (a union of) the property names to omit. So, a working example is:

[code]

(There might be a way to

[2018-10-20 11:05] selfrefactor commented on #83
That is great. I will create examples with Typescript usage of `Rambda` and I will start with your example. I will also refer to you as source of `omit` typings and `omit` examples. I will close the issue, but feel free to comment, if you feel like it.

[2018-10-20 11:05] #83 closed

[2018-11-03 07:02] MaxSvargal commented on #55
+1, I don't understand how do you live without a kind of methods like converge.
Because of this I can't move from ramda to rambda =(

[2018-11-03 10:01] selfrefactor commented on #55
@MaxSvargal Sorry to hear that, but the PR with `coverge` never arrived and that is why it is still missing in Rambda. As I said above, if PR with this method is submitted, I will gladly accept it.

As for your funny remark about living without `converge` method - I find myself wanting to write stupider code as it is easier to maintain. `converge` and other similar methods may be fun to use, but t

[2018-11-29 06:12] ywchan2005 opened #85 "index accumulates when addIndex is put inside pipe"
when addIndex is composed by pipe
[code]

indices (i.e. idx) received are correct in the first call
[code]

however, indices seem to accumulate in the second call
[code]

and also in later calls
[code]

[sample code](https://rambda.now.sh/?const%20foo%20=%20R.pipe(%0A%20%20R.addIndex(R.map)((x,%20idx)%20=%3E%20x+%27-%27+idx)%0A)%0A%0Aconsole.log(foo([%27a%27,%20%27b%27,%20%27c%27,%20%27d%27]))%0Ac

[2018-11-29 06:34] ywchan2005 opened #86 "0's in second array passed into zip causes incorrect result"
while calling ```zip```, if ```0``` is present in the second array, it causes the resulting array to ignore elements in first array with positions corresponding to those ```0```'s.

for example
[code]
the expected result should be
[code]

[sample code](https://rambda.now.sh/?const%20result%20=%20R.zip([%27a%27,%20%27b%27,%20%27c%27],%20[1,%200,%202]))

[2018-11-29 10:03] selfrefactor commented on #86
It is weird bug and I want to thank you for the nice big catch. I will look into it and get back to you.

[2018-11-29 10:46] selfrefactor commented on #85
So this method `addIndex` is not added by me, rather than from a contributor. As much I can see, I cannot solve it in simple way, so I will go end remove it.

New version will be published in the coming days, so you still have time to suggest solution and in this case the new version will contain your code.

[2018-11-29 10:47] #85 closed

[2018-11-29 10:56] selfrefactor commented on #86
As with the previous bug, this method is also not added by me and as it depends on `R.addIndex` I have to remove it as well. I will keep this issue open till the next version is published, so you can commend if you are willing to solve `R.addIndex` and thus actually fixing these 2 bugs.

What I am doing is not best practice, I admit that, but the aim for this library is to reproduce `Ramda` method

[2018-11-29 13:48] selfrefactor commented on #86
I will actually close this issue, but feel free to comment despite that.

[2018-11-29 13:48] #86 closed

[2018-12-06 15:29] the-phoenix opened #88 "A bit wrong explanation in readme"
<img width="1439" alt="screen shot 2018-12-06 at 11 27 06 pm" src="https://user-images.githubusercontent.com/9201924/49593497-a6087d00-f9ae-11e8-913a-db5fa3cdb268.png">

Please look attached.
Its comparing object references, not the contents of the object.
`expectedResult` isn't same with `result`

[2018-12-06 16:13] selfrefactor commented on #88
So the issue is with the last line of the example.
If you  type `console.log(R.equals(result,expectedResult))` the log will be true. It is an issue and it will be addressed as there may be other examples that need such change to `R.equals`

[2018-12-06 16:22] selfrefactor commented on #88
I am closing the issue, but feel free to comment if there is such need.

[2018-12-06 16:22] #88 closed

[2019-01-03 13:44] simonlau opened #89 "R.zip not exported in rambda.js"
In 2.1.0 Restore R.zip using WatermelonDB implementation, but

export * from './src/zip'

is missing in rambda.js

[2019-01-05 14:03] selfrefactor commented on #89
Nice catch; will fix it right away.

[2019-01-05 14:50] #89 closed

[2019-01-18 20:28] chimon2000 opened #90 "pathOr types don't match path types"
In the site documentation, there is an example of `pathOr` with a string for the path property:

[code]

This causes an error when using TypeScript because the definitions do not allow a string like they do with the `path` function.
https://github.com/selfrefactor/rambda/blob/b27e21dc1ba97fb500fcd0b9fdd59d81b7340cb1/index.d.ts#L391-L396

[2019-01-22 16:12] the-dr-lazy opened #91 "add R.evolve"
Hi

I found Rambda as a good alternative to Ramda. How would be to implement the useful function called `R.evolve`?

[2019-01-22 17:47] selfrefactor commented on #90
Duly noted, will fix it in two days as I cannot do so earlier than that.

[2019-01-22 17:51] selfrefactor commented on #91
It was implemented in the extended version of Rambda, which is **Rambdax**. When **Rambdax** hit major version change, I took the chance to deprecate some methods and R.evolve was one of them. But the code is there and it is very easy to be restored. Still, I'd prefer to have this method in Rambdax, not here if that is fine with you.

I am sending the link to the code:

https://github.com/selfrefa

[2019-01-23 06:49] #90 closed

[2019-01-23 06:50] #91 closed, assigned to nobody

[2019-01-24 18:57] thebrodmann commented on #62
Hi,

I don't find any branch for this big change in Rambda. Is it started? If yes how can I contribute?
Also in [CONTRIBUTING](CONTRIBUTING.md), I don't find anything related.

[2019-01-24 19:05] thebrodmann opened #92 "Move to typescript"
Actually, there is an important enhancement at #62, internal support for type definitions is the topmost benefit over Ramda.

I think there can be good contributions from other guys. So having an open issue and a work branch is the most important moves for this big change.

[2019-01-24 21:16] selfrefactor commented on #62
Hi,

Not much could be done now. Hopefully Typescript will do something progress on https://github.com/Microsoft/TypeScript/issues/5453 this year.

This is the blocking issue and as soon as it is solved, the work on moving Rambda to Typescript will resume. The issue remains silent about any suggestion for a timeline, so we are waiting in the limbo.

[2019-01-28 02:48] shea-parkes opened #93 "Docs for "tap" are partial duplicate of docs for "takeLast""
The type signature and example are correct for `tap`, but the brief description is "It returns the last num elements of arrOrStr" which is a duplicate of `takeLast`.

Thanks for the great little library sir.

[2019-01-29 16:30] selfrefactor commented on #92
I agree, let us leave the issue open for reference. Just pasting the link to the related Typescript issue we are waiting on: https://github.com/Microsoft/TypeScript/issues/5453

[2019-01-29 16:31] selfrefactor commented on #93
@shea-parkes nice catch, sir :+1:
Will fix it right away

[2019-01-31 21:07] #93 closed

[2019-02-04 08:19] selfrefactor commented on #92
Sorry @thebrodmann but I will close the issue as at the speed of resolving the Typescipt issue, the feature might not arrive this year. Also, having 1 unresolved issue is like having a clean house with a dirty door.

[2019-02-04 08:19] #92 closed

[2019-02-26 17:41] victordidenko opened #98 "`map` TypeScript typings"
Either something wrong with `map` typings, or I'm doing something wrong...

[code]
causes on `map`:
[code]

[2019-02-26 20:00] selfrefactor commented on #98
I can test it on next week as I don't have currently access to my VSCode. My guess is that the problem is the typings of `pipe`, which are inherited from Ramda typings.

My impression is that it is hard to use Typescript with `pipe` or `compose` in both Ramda and Rambda. My solution was to just stop writing such functions as I get tired of passing `any` every other time.

Once Typescript provide v

[2019-02-26 20:04] selfrefactor commented on #98
One way to make it work is writing similar pseudocode:

[code]

as if you read the typings of `R.pipe`, you will see that you actually need to pass the typings of the inner functions(the functions inside `R.pipe`) as Typescript can always deduct these types correctly.

[2019-02-26 20:06] victordidenko commented on #98
My guess was that `map` can work with arrays and objects both, and TypeScript unable to choose right definition.

[2019-02-26 20:27] selfrefactor commented on #98
That is also very probable. I will post update as soon as I get my hand on my workstation.

[2019-02-27 09:14] victordidenko commented on #98
`pipe` is definitely beyond suspicion here. This code
[code]
complains on each array item `Type 'string' is not assignable to type 'number'`.

As far as I understand following definitions
[code]
it implies, that map's list argument must have same type, as output list...

[2019-03-01 11:26] JaminFarr commented on #98
Yes, it's missing different input output types.

This works.
[code]

I've created fix PR https://github.com/selfrefactor/rambda/pull/113

[2019-03-01 11:45] victordidenko commented on #98
I've tried a bit more, and these looks like two unrelated issues.

`filter` has similar definitions, and also able to work with arrays and dictionaries. And `filter` in `pipe` causes same error, as `map`:
[code]
`splitAndFilter2` doesn't show error, while `splitAndFilter1` shows on filter row:
[code]

[2019-03-01 18:34] selfrefactor commented on #98
I thank @JaminFarr for his PR
New version `2.3.2` contains the fix so @victordidenko can test it out and comment on the outcome.

[2019-03-01 19:11] victordidenko commented on #98
I tried, new version fixes problem in [this](https://github.com/selfrefactor/rambda/issues/98#issuecomment-467784409) comment (with map output), but [this](https://github.com/selfrefactor/rambda/issues/98#issue-414735633) (topic start) and [this](https://github.com/selfrefactor/rambda/issues/98#issuecomment-468639239) (my previous comment) remains

[2019-03-04 19:38] selfrefactor commented on #98
## In relation to the first initial example

We have `pipe<V0, T1, T2, T3>(fn0: (x: V0) => T1, fn1: (x: T1) => T2, fn2: (x: T2) => T3): (x: V0) => T3;`
 declaration.

Which leads to the following:

[code]

`splitAndMap` is correctly recognized as `string[]`

[2019-03-04 19:46] #98 closed

[2019-03-04 21:36] victordidenko commented on #98
Yes, defining types in explicit way solves problem.

I guess, that if `map` and `filter` would work only with arrays, there wouldn't be such problem. TypeScript got confused because these functions can work with arrays and objects both.

So I was wondering, maybe there is a way to write definitions somehow differently, that TypeScript will recognize types without errors, automatically?

Or maybe a

[2019-03-05 17:36] selfrefactor commented on #98
That would be bad decision. These functions are build exactly with this purpose. Typescript definitions are extra and therefore they shouldn't force any change on the actual code.

That should happen if Rambda is written in Typscript. At the moment we have to go with what we have.

[2019-03-27 16:22] sultan99 opened #128 "lens"
Amazing job!
I have moved to rambda from ramda, but one thing stopped me it is LENS.
Do you plan to make lens?

[2019-03-28 14:01] jjagielka opened #129 "Inconsistency in zip implementation"
Any reason `zip` does not follow the pattern implementation used in all other functions?
[code]
instead of
[code]

[2019-04-02 08:07] selfrefactor commented on #128
Not really, unless someone is interested in contributing for it.

[2019-04-02 08:07] #128 closed

[2019-04-02 08:08] selfrefactor commented on #129
No particular reason, simply a mistake to be fixed

[2019-04-11 17:52] #129 closed

[2019-04-18 18:20] selfrefactor opened #147 "Suggestions"
This issue is opened to encourage suggestions and feedback.

Vote for bringing even more **Ramda** methods in `Rambda`

[![](https://api.gh-polls.com/poll/01DQ7E1KYQYKW62VJMRF6A42VQ/Yes)](https://api.gh-polls.com/poll/01DQ7E1KYQYKW62VJMRF6A42VQ/Yes/vote)
[![](https://api.gh-polls.com/poll/01DQ7E1KYQYKW62VJMRF6A42VQ/No)](https://api.gh-polls.com/poll/01DQ7E1KYQYKW62VJMRF6A42VQ/No/vote)

[2019-04-18 23:01] selfrefactor commented on #147
Deprecate `R,contains` as Ramda has also deprecated it?

[2019-04-18 23:05] selfrefactor commented on #147
Introduce `R.project` https://ramdajs.com/docs/#project

[2019-04-18 23:07] selfrefactor commented on #147
`R.pickBy` https://ramdajs.com/docs/#pickBy

[2019-04-23 05:33] dalgard opened #149 "How to do partial application?"
I was surprised not to see `partial` in Rambda's docs – is there a different way to do partial application, or are you content with things like arrow functions?

Often, the `pipe` and `partial` functions are all I use in a functional library, but I quickly feel limited without them 🙂

[2019-04-23 06:11] dalgard commented on #149
Now that I think of it – adding `partial` to Rambda would be a great opportunity to free it from its current ugliness of having to wrap the arguments in an array 🙌

[2019-04-25 01:27] selfrefactor commented on #149
First, I thank you for the suggestion as it seems like a good one.

Just to clarify the specification:

[code]

[2019-04-25 19:47] dalgard commented on #149
Thank _you_ 😌 Yeah, it looks correct to me.

Maybe it's just me being weird, but it almost feels like the API of `partial` is incomplete as long as we can't defer its own first argument to final, "point free" position – I guess it's because that argument seems like the most important one.

Oh well, I'm likely just being ignorant about the trappings of `lift` or some other FP thing. And I was never

[2019-04-29 09:40] selfrefactor commented on #149
I did publish a new version, that includes `R.partial` with the specification from above. The single note is that Typescript definition are left very basic(in the same way `R.curry`). This definition could be subject to improvement, but for now I'll leave it as it is.

[2019-04-29 09:41] #149 closed

[2019-04-29 11:01] dalgard commented on #149
Thank you! 🙏

[2019-05-09 08:43] kuchta commented on #147
Could forEach be enhanced to work on Objects as well as Arrays as map and filter do?

[2019-05-09 11:23] selfrefactor commented on #147
This is nice suggestions. I will post spec once the new behavior is written, so you can confirm it.

[2019-05-12 08:47] selfrefactor commented on #147
@kuchta I will have to ask for collaboration as if you look at the source of `forEach`, you will see that it already passes to `R.map`. I only changed `R.map` implementation and now iterator function accept third argument namely the input object. This change is published with version `2.6.0`

[2019-05-16 13:58] StreetStrider commented on #147
Expose `src/` as `es/` for Rollup, so I could `import curry from 'rambda/es/curry'`.

[2019-05-16 15:29] selfrefactor commented on #147
@StreetStrider `src` was removed per previous request, but I don't mind exposing it back as `Ramda` also exposes its `src` folder. Can you share reasoning why it should be exported as `es` folder?

[2019-05-16 15:34] StreetStrider commented on #147
@selfrefactor for me, actual name here is a matter of clarity. Names, like `es/`, `cjs/` or `.umd.js` are much clear in pointing at format of specific modules, while `src/` and `lib/` indicates that here are original files (which may be unconsumable by default).

es is better than src, but src is OK too.

[2019-05-16 15:50] selfrefactor commented on #147
I thank you @StreetStrider for the clarification. The latest version `2.7.1` exposes  `src` per your request.

[2019-05-16 17:29] StreetStrider commented on #147
@selfrefactor I've tried `npm i` in this package today and got difficulties. I can't install all dependencies (erros like `pathspec '2.0.0' did not match any file(s) known to git.`). Can you confirm that you are able to install dependencies from scratch (`rm -rf node_modules` then `npm i`)?

[2019-05-16 20:17] selfrefactor commented on #147
I can confirm the same bug. It seems that you will have to use `yarn` for this purpose. Another strange case where `yarn` works where `npm` does not. I have some other similar cases so nothing new.

[2019-05-17 11:11] StreetStrider commented on #147
I've tried install deps one-by-one, error occurs here:
[code]
So it is most likely a bug in transient dep of selfrefactor/minify.
Maybe you should try update [sindresorhus/figures](https://github.com/sindresorhus/figures/releases) version.

[2019-05-17 15:12] selfrefactor commented on #147
@StreetStrider I simply removed `figures` dependency from `minify` library and now it works with NPM as well.

[2019-05-17 15:20] StreetStrider commented on #147
@selfrefactor good to know. Environment must be reproducible for others.

[2019-05-27 13:30] victordidenko opened #175 "tools.d.ts lost from npm package"
Looks like file `tools.d.ts` is absent in NPM package...
[code]
I tried `yarn` and `npm` both

[2019-05-27 13:58] selfrefactor commented on #175
Obviously it is not included in files declaration. Will fix it right away.

[2019-05-27 14:03] victordidenko commented on #175
Sorry, I've never published my own packages on NPM yet, so it was not obvious for me 🤷‍♂️

[2019-05-27 15:35] selfrefactor commented on #175
Learn something useless every day :)

Within 1 hour patch will be deployed.

[2019-05-27 17:53] victordidenko commented on #175
Now there is no index.d.ts and no types at all 🙇
<img width="208" alt="Screenshot 2019-05-27 at 20 51 02" src="https://user-images.githubusercontent.com/15016227/58433792-66029700-80c1-11e9-844b-bf5dc8d3afff.png">

[2019-05-27 17:54] selfrefactor commented on #175
my bad

[2019-05-27 17:57] selfrefactor commented on #175
Should be fine now

[2019-05-27 17:57] #175 closed

[2019-05-27 18:12] victordidenko commented on #175
All is good, thank you!

[2019-05-30 16:40] romgrk commented on #147
Implement lenses functions.

[2019-06-03 08:08] selfrefactor commented on #147
@romgrk this has been brought up before and I will welcome any PR that addresses lenses integration, but I am not using them and it will be a bit hard for me to write the logic.

[2019-06-03 16:34] romgrk commented on #147
Sure, I understand. Brian Lonsdorf has a pretty straight-forward implementation of lenses [here](https://github.com/DrBoolean/lenses/blob/master/src/lenses.js), I wonder if we could just re-use that one.
I use rambda for pretty much all my needs, but I do need to import ramda in most projects just to get those lenses.

[2019-06-03 16:47] selfrefactor commented on #147
Thanks for the link @romgrk , but I guess you will have to use `ramda` for anything regarding lenses. After all the niche of `Rambda` is to provide partial API for the base methods in `ramda`. What I can do is to try to apply the suggested link initially in `Rambdax` and then bring it here. I will write once this initial application is ready.

[2019-06-03 16:51] romgrk commented on #147
Other suggestion, I notice that the signature for some methods is sometimes not exactly the same as ramda. Is it possible to make it 100% compatible? (e.g. `ramda.adjust(index, fn, list)` vs `rambda.adjust(fn, index, list)`)
Note that the [JSDoc](https://github.com/selfrefactor/rambda/blob/master/src/adjust.js#L3-L24) of that function (and possibly others) is also wrong.
Note also that even though

[2019-06-03 16:53] selfrefactor commented on #147
Sure, JSDoc annotations is a recent PR which was pretty big and as you noticed there are obvious inconsistencies.  Your PR fixing these issues is very welcome.

[2019-06-03 16:54] romgrk commented on #147
Ok, is it fine if I modify rambda's API to match ramda one, rather than modify the doc?

[2019-06-03 16:57] selfrefactor commented on #147
You will have to check the entry in the intro of `README.md` for the know differences between `Rambda` and `Ramda` as this differences are made on purpose.

[2019-06-03 17:00] romgrk commented on #147
They're made on purpose? It would be more convenient for users to have the same API.
But can you just confirm that you're ok if I submit a PR that modifies rambda's API?

[2019-06-03 17:02] selfrefactor commented on #147
It is almost the same. I try to extend rather than change existing behavior. I am fine with modification as long as they are not related to the known differences.

[2019-06-04 10:17] kuchta opened #180 "Typing error after upgrading to latest version"
Hi,

This code:
[code]
which was compiling fine at version 2.5 stopped working with upgrade to 2.11 with error:

`
Argument of type '(value: any, key: any) => void' is not assignable to parameter of type '(x: { error: string; }[]) => void'
`

The same with map.

Thanks for suggestions

[2019-06-04 15:11] selfrefactor commented on #147
@romgrk Your changes are live with the new version. Thanks for the input and I will keep you updated when there is progress with lenses.

[2019-06-05 10:06] kuchta commented on #147
It would be great to have typings directly in the source code (making the source code effectively TypeScript) to prevent it to get out of sync with the code.

[2019-06-05 11:03] selfrefactor commented on #147
@kuchta I am unsure what you mean. Do you mean something like `Flow`? Even so, I am unsure how well it works with curried function as this is an issue with `Typescript`

[2019-06-05 11:24] kuchta commented on #147
@selfrefactor I meant to put typings directly into sourcecode and rename it from js to ts :)

[2019-06-05 11:30] selfrefactor commented on #147
@kuchta The issue is between currying and `Typescript`. For now we are still waiting proper features to arrive so we can actually do that.

[2019-06-05 11:34] kuchta commented on #147
You can type curried functions just fine with TypeScript. Look at how @types/ramda is doing that. You probably mean there is yet no support for general way of doint that without replicating all the cases.

[2019-06-05 11:37] StreetStrider commented on #147
@selfrefactor I looked through your code, and everywhere you use «manual» currying, without explicitly depending on `curry`. The same trick can be applied to typings both Flow and TS, via function overload, you just need to declare function signature multiple types. Something (pseudocode) like this:
[code]
[TS overloads](https://www.typescriptlang.org/docs/handbook/functions.html#overloads).
Flow

[2019-06-05 12:08] selfrefactor commented on #147
@StreetStrider I tried this approach before, but I wasn't happy with the output for `Typescript` typings(i.e. `index.d.ts`). But I guess it is possible to keep the current typings and ignore those produced by `tsc build`. I will give it a try and thank you for your input on the subject.

[2019-06-06 17:42] selfrefactor commented on #180
I just approved your PR and you can test it with version `2.11.1`. I will test if the issue is still present and if so, I will post some solution.

[2019-06-07 10:45] kuchta commented on #180
Works with latest version. Closing the issue...

[2019-06-07 10:45] #180 closed

[2019-07-09 23:06] dionyziz opened #207 "R.sum?"
In ramda, there's an `R.sum`. Was this deprecated in rambda? What is the recommended approach? To perform a `reduce` with `R.add` perhaps?

[2019-07-10 08:17] selfrefactor commented on #207
Will do, thanks for your suggestion

[2019-07-10 17:24] selfrefactor commented on #147
@kuchta  My recent work experience changed the way read any code and now I try to be as simple as possible. This means that I am not very eager to understand and implement lenses, but as I had said before, this doesn't mean that I will reject any PR that addresses this feature request.

[2019-07-12 17:12] selfrefactor commented on #207
Published with `2.12.0`

[2019-07-12 17:12] #207 closed

[2019-07-12 19:21] dionyziz commented on #207
Thanks!

On Fri, Jul 12, 2019, 20:12 Dejan Toteff <notifications@github.com> wrote:

[2019-07-23 21:09] selfrefactor opened #218 "List of Ramda methods intentionally missing in Rambda"
For example `R.and(true, true);` is one such example. I really feel that seeing

[code]

would make a normal person mad.

The other case:

[code]

is also confusing.

[2019-07-24 16:54] ku8ar commented on #218
Yes, it's confusing. But the main motive of the Ramda developers is to create a library that allows programming in the point-free paradigm.

We in the team use it mainly to create Redux (Reselect) selectors:

[code]

I know, it's just a bit of code. And the example is not very sensible. But even such functions allow to reduce the number of chars in code.
Additionally, in the case of logic gates, i

[2019-07-25 10:15] selfrefactor commented on #218
Good logic. I think I would go in direction to separate this `second-class` methods as they don't clutter the API. I see them in very separate API section in README and this way we can both be partially happy. Hope you are fine with that.

[2019-07-25 15:21] ku8ar commented on #218
I think the whole "Logic" group could be separated. BTW you didn't think about a slight change GH Page? For example, adding a search engine? Ramda has nice "Filter" field on site...

[2019-07-25 16:18] selfrefactor commented on #218
Changing the framework that build GH page is one thing that should be addressed. I though about that this is a good change to give `docusaurus` a chance. But before that being ready, we can meanwhile add a filter plugin if such exists for `docsify-cli`. I will open separate issue for this update.

[2019-07-25 19:20] ku8ar commented on #218
I need to read about this docusaurus. But there is React, so it's probably OK ;)

[2019-07-25 21:36] pm-radu opened #220 "Try in REPL broken for R.isEmpty"
On the README page there is a link to the REPL so you can try `.isEmpty`. If I go to that page I get an error:

![image](https://user-images.githubusercontent.com/46872903/61910447-d37b5880-af88-11e9-92a6-8c6cb47213fe.png)

[2019-07-27 11:13] selfrefactor commented on #220
This is because REPL is had not been updated in the last month. Will be fixed in 2 days.

[2019-08-04 20:29] selfrefactor commented on #220
I updated the version but `R.isEmpty` is still missing. The reason is that the REPL is used by both `Rambda` and its extended version `Rambdax`. `R.isEmpty` is one of the methods recently added to `Rambda` not by me but a contributor. While I agree on his reasoning to add these methods, I prefer not to transfer them to `Rambdax` and this is the reason why the issue will still exists.

I will close

[2019-08-04 20:29] #220 closed

[2019-08-07 16:33] kpchand opened #227 "No index in R.reduce"
There is no index in the callback function to R.reduce. Can this be added?

[2019-08-08 07:10] selfrefactor commented on #227
This is the just of the method:

[2019-08-09 18:03] kpchand commented on #227
![image](https://user-images.githubusercontent.com/1081675/62799283-06335e00-bafe-11e9-92eb-a33d41027605.png)

[2019-08-11 09:25] selfrefactor commented on #227
Just publish it with `1.12.4`

[2019-08-11 09:25] #227 closed

[2019-08-20 17:16] tonivj5 opened #234 "R.Placeholder: R has not exported member Placeholder"
Hi! I have updated to `3.0.0` and there's a problem with typings, concretely into [tools.d.ts line 86](https://github.com/selfrefactor/rambda/blob/master/tools.d.ts#L86) and [tools.d.ts line 100](https://github.com/selfrefactor/rambda/blob/master/tools.d.ts#L100). I researched a little, the problem is that Placeholder was removed from [index.d.ts](https://github.com/selfrefactor/rambda/commit/d916

[2019-08-22 16:38] selfrefactor commented on #234
Nice catch. I will fix it and publish it with `3.0.1`
Thank you

[2019-08-22 19:58] damiangreen commented on #147
I'm evaluating rambda as an alternative over ramda for the cases where it doesnt type wel lfor the `compose` and `pipe` operators , e.g. (https://stackoverflow.com/questions/54363310/how-to-remove-unnecessary-casting-with-ramda-and-typescript). It still appears to suffer the same drawbacks. Is there any intention to improve upon this?

[2019-08-22 20:07] selfrefactor commented on #234
Just published

[2019-08-22 20:07] #234 closed

[2019-08-22 20:13] selfrefactor commented on #147
Still wating for this [Typescript issue](https://github.com/microsoft/TypeScript/issues/5453) to be addressed. Until then, there is not much that it could be done in this regard. Personaly me, I stopped using `compose` and `pipe` with my Typescript code as there is no easy way around it. One crazy solution is to have two methods for curried and uncurried version, i.e. `R.foo` and `R._foo` and then

[2019-09-02 08:18] selfrefactor opened #245 "Complete typings test"
I am in the process of writing `dtslint` tests, but it is a lot of work, so any help is appreciated.

Use `R.add` test as a base:

[https://github.com/selfrefactor/rambda/blob/master/_typings_tests/add-spec.ts](https://github.com/selfrefactor/rambda/blob/master/_typings_tests/add-spec.ts)

Then you confirm that the tests are correct with `yarn typings` command

[2019-09-03 19:14] selfrefactor commented on #218
Ramda is introducing a `trimFix` method, which seems like something I prefer having in string-focused library.

[2019-09-04 15:38] ku8ar commented on #218
heh. I don't see this func. Where it is?

BTW I am not working now on Rambda, because Im doing another project. But I think I will put some PRs at the end of this month ;)

[2019-09-04 19:22] selfrefactor commented on #218
Hi @ku8ar
Take your time, I am doing now typings tests with `dtslint now.

As for `R.trimFix` - I am following several repos with https://devhubapp.com/ including Ramda and I saw this method as a opened PR so it may land with the new versions of Ramda.

[2019-09-10 07:58] makarkotlov opened #250 "IE11 support"
Is it possible somehow to get IE11 support?

[2019-09-10 10:05] selfrefactor commented on #250
After Rambda moved to `rollup` it is no longer possible as far as I know.

We can try edit `rollup` config in order to transpile for IE11:

https://github.com/selfrefactor/rambda/blob/master/files/rollup.config.js

You can try, but I am not big fan because as more time passes, the less need is for IE support.
I will close the ticket, but feel free to reopen it, if you can solve `rollup` config.

[2019-09-10 10:05] #250 closed

[2019-09-10 21:26] selfrefactor commented on #250
Can you share what is not working with IE11 as Ubuntu user I have no access to this browser.

[2019-09-11 08:36] makarkotlov commented on #250
There are arrow functions and other goodies in rambda which IE doesn't support. I have tried to replace ramda with rambda in our project but suddenly we lost IE11 support

[2019-09-11 11:57] selfrefactor commented on #250
Thanks. I might try to solve this later, but let us leave it closed for the time being.

[2019-09-15 10:21] squidfunk commented on #147
Ramda methods I miss in Rambda:

- `intersection`, `intersectionWith`
- `difference`, `differenceWith`
- `intersperse`
- `lensPath`
- `set`

[2019-09-16 15:49] selfrefactor commented on #147
As stated before, lenses are hard for me to implement, so unless somebody opens a PR, they will be lacking in Rambda.

As for the other 5 suggestions - I will implent them with the version after the next one as now I am in the middle of writing typings tests.

Thank you for your suggestions @squidfunk

[2019-09-16 18:59] squidfunk commented on #147
I went ahead and implemented the set functions in four separate PRs. They can be generalized to the `*With` versions later on. I also tried to stick to your coding style. Would love to see them in the next release :-)

[2019-09-17 08:52] selfrefactor commented on #147
Great job @squidfunk
I approved all of PRs and I will try to make a release today or tomorrow, even though I am not completely ready with typings refactor caused by typings tests.

[2019-09-17 09:03] squidfunk commented on #147
That's great news! I also realized that I can simplify a situation where I used `lensPath` and `set` to `assocPath`. Will try to submit a PR for this, too.

[2019-09-17 09:36] squidfunk commented on #147
There was an error merging the typings - missing `/*`:

https://github.com/selfrefactor/rambda/blob/33ed7fc3b5f70f541f38ee60aad914c83ae7b757/index.d.ts#L351-L355

[2019-09-17 11:36] selfrefactor commented on #147
I think the last warning is fixed as tests are passing(including the typing tests)

[2019-09-17 11:45] squidfunk commented on #147
@selfrefactor I fixed it in my PR ;-)

[2019-09-25 17:37] squidfunk opened #263 "Typings for curry are broken"
The typings for `curry` seem to be broken:

<img width="632" alt="Bildschirmfoto 2019-09-25 um 19 33 29" src="https://user-images.githubusercontent.com/932156/65625091-7113f800-dfcb-11e9-96f0-07fc7592a61b.png">

Where should the `Curry` namespace come from? I think we should just include `ts-toolbelt` and use it's curry typing, see: https://github.com/pirix-gh/ts-toolbelt/blob/7eb15560101bae9b77b8

[2019-09-26 08:01] selfrefactor commented on #263
Thank you for the suggestion. I will try to apply it before the end of the week. One issue is that I will have to manually copy `ts-toolbelt` as `Rambda` shouldn't have any dependency, but that is not a big hurdle. Once again thank you.

[2019-09-26 10:59] tonivj5 commented on #263
Why not use ts-toolbelt as dependency?

[2019-09-26 11:13] selfrefactor commented on #263
Because that would influence users that are not using Typescript. Ramda doesn't have such problem, as their typings are separate package.

[2019-09-26 11:57] tonivj5 commented on #263
I think it isn't influence users, users that are not using typescript are benefiting from typings (through IDE) without any effort.
![image](https://user-images.githubusercontent.com/7110786/65686207-22ff0300-e064-11e9-87c7-f75db81b54e5.png)

ts-toolbelt shouldn't be an inconvenient for javascript users, it should improve their UX

[2019-09-26 15:37] selfrefactor commented on #263
I agree with the above, but my idea is to simply include it without touching `package.json`
At the end, we should have both - using ts-toolbelt and not having production dependency.

[2019-09-26 16:23] tonivj5 commented on #263
Although I still think that ts-toolbelt should be in package.json :sweat_smile:, I understand you, thanks for discuss it :smile_cat:

[2019-09-27 10:49] selfrefactor commented on #263
I just made a commit that addresses this issue. This issue will be closed once version `3.2.0` is out.

[2019-09-29 08:48] #263 closed

[2019-10-09 10:34] shomodj opened #273 "issue with typings"
when trying and compiling my project I get errors on rambda typings?

[code]

tsconfig
[code]

[2019-10-09 10:34] shomodj commented on #273
sorry forgot to add ramda 3.2.0

[2019-10-10 13:48] shomodj commented on #273
Just paste the index.d.ts into typescript playground...

[2019-10-10 22:00] selfrefactor commented on #273
That would not work as index.d.ts has local dependency

There was an issue with Typescript typings, but it should be fixed with the latest Rambda version. Can you tell me with which Rambda version this happends?

[2019-10-11 00:01] shomodj commented on #273
index.d.ts does not have a local dependency, tools.d.ts has and it depends on index.d.ts, which I think is wrong it should be the other way around, and when I do this I get less errors.

About the playground, sure you can do this, just copy paste them both, refs are technically just includes.

and I did state which version of rambda was used to get this errors

typescript is 3.6.3
node 12.10.0 and

[2019-10-11 08:07] selfrefactor commented on #273
@shomodj I want to thank you for bringing this up. I will try fix this today. I am unsure what happened, but the end result is total mess.

[2019-10-11 08:18] selfrefactor commented on #273
Try out `3.2.1` as I just deployed fast fix. During the weekend I will try to apply better solution.

[2019-10-11 10:12] shomodj commented on #273
Yep this works, thanks

[2019-10-11 11:10] opsidao commented on #250
@selfrefactor FYI, Microsoft provides VM images with any version of IE/Edge for this kind of testing (free of charge): https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2019-10-13 08:49] #245 closed

[2019-10-13 08:58] selfrefactor opened #276 "Run Ramda tests with Rambda to see all differences"
This issue will be solved in separate repo as it requires cloning of `Ramda` repository.

[2019-10-13 18:59] selfrefactor opened #277 "New documentation API website"
Docsify is good but now it seems that there are better alternatives.

[2019-10-15 21:02] selfrefactor opened #283 "Use slice to clone array"
https://jsperf.com/clone-array-foo

still compare benchmark result before and after

[2019-10-16 10:06] selfrefactor commented on #276
[https://github.com/selfrefactor/services/tree/master/packages/ramda-tests](https://github.com/selfrefactor/services/tree/master/packages/ramda-tests)

[2019-10-21 13:44] G07cha commented on #273
For me it fails with `isolatedModules` enabled

[code]

[2019-10-22 08:54] selfrefactor commented on #273
@G07cha Thank you for bringing this up. I will test it and get back with result and solution.

[2019-10-22 15:17] G07cha commented on #273
Awesome, let me know if you need any help or additional information!

[2019-10-23 08:18] selfrefactor commented on #273
@G07cha I couldn't reproduce it. Can you share a reproduceable temp repo

You can check my try at https://github.com/selfrefactor/services/tree/master/packages/consume-rambda-typings

with `yarn&&yarn test`

[2019-10-23 08:41] G07cha commented on #273
Thanks for checking @selfrefactor! Indeed, I'm not able to reproduce it with setup that you have as well but when modified for running for the whole project it fails (`tsc` instead of `tsc index.ts`) even when `node_modules` are excluded in `tsconfig.json`.

[2019-10-23 09:48] selfrefactor commented on #273
@G07cha Yep, that helps a bit. I will try to include it in project and see if it fails there.
What might help is if you share the whole error log, so I can see if I can manually fix `ts-toolbelt` issues.

[2019-10-23 09:52] G07cha commented on #273
Sure, it basically fails for every re-exported type:

<details><summary>Error log</summary>

yarn run v1.13.0
$ tsc
node_modules/rambda/ts-toolbelt/src/Any/_api.ts:1:9 - error TS1205: Cannot re-export a type when the '--isolatedModules' flag is provided.

1 export {Cast} from './Cast'
[code]

node_modules/rambda/ts-toolbelt/src/Any/_api.ts:3:9 - error TS1205: Cannot re-export a type when the '--is

[2019-10-23 12:50] selfrefactor commented on #273
Can you change the first line of `/node_modules/rambda/_ts-toolbelt/src/Any/_api.ts` file
to `export * from './Cast'` and see if the numbers of errors is reduced with 1.

I found the suggestion from this comment - https://github.com/Microsoft/TypeScript/issues/28481#issuecomment-454061454

Sorry to bother you again, but you are the context holder :)

[2019-10-23 14:05] selfrefactor commented on #273
No I am not able to reproduce it, but that is optional as I have from you error log and information that the solution works. Thank you very much for your efforts.

[2019-10-23 14:07] G07cha commented on #273
Thank you for taking your time to investigate and fix it! ❤️

[2019-10-23 19:07] selfrefactor commented on #273
Try with new version `3.2.2` and it should work. If you can confirm it so I can close the issue.

[2019-10-24 12:40] selfrefactor commented on #273
Try with `3.2.3` as I just published it. But it is nice to hear that it finally works for you.

[2019-10-24 12:55] G07cha commented on #273
![Screenshot 2019-10-24 at 14 54 38](https://user-images.githubusercontent.com/6943514/67487449-44a4d780-f66e-11e9-9d57-029b662d878e.png)

🤔

[2019-10-24 12:59] selfrefactor commented on #273
Sorry for not double checking that the version is published. I have new OS installation and I forgot to `npm adduser`. Now it should work with `3.2.5`

[2019-10-24 14:31] G07cha commented on #273
Works in 3.2.5! :tada:

[2019-10-27 10:23] bjufre opened #287 "Module error with _ts-toolbelt"
Hello,

I've updated `rambda` to `3.2.5` in an angular project. And it all seemed good until I tried to run the application or storybook inside the project and started getting an error with `_ts-toolbelt`.

I'm attaching a screenshot for a clearer picture of the error I'm explaining:
<img width="765" alt="Screenshot 2019-10-27 at 11 18 58" src="https://user-images.githubusercontent.com/22913276/67

[2019-10-27 11:08] selfrefactor commented on #287
Try with `3.3.0` as it should work. Thank you for bringing it up. Let me know if the issue is gone.

[2019-10-27 11:22] bjufre commented on #287
@selfrefactor That solved the issue! Thank you very much man!

[2019-10-27 11:22] #287 closed

[2019-10-27 15:07] selfrefactor commented on #287
You are most welcome. Just keep in mind that `3.3.0` is in fact `4.0.0`, i.e. there are breaking changes listed in `CHANGELOG.md`. Nothing drastic, but I just wanted to inform you.

[2019-10-29 18:29] #283 closed

[2019-10-29 18:30] #276 closed

[2019-11-07 20:25] dpren opened #305 "Adding date and libs versions of benchmark results"
Cool library!

In the table under _"advantages > speed"_, I'd suggest adding some date / version info for Ramda and Lodash. I had to gitblame the docs to make sure it was up to date.

I would also clarify whether or not you're using currying in Lodash. Especially considering `lodash/fp` was a thing at one point.

[2019-11-10 23:34] selfrefactor commented on #305
All sound like very good suggestions. I will try complete all of them in the coming week.
As for lodash/fp and curring - I will write that most of benchmarks results are without curring, but I will try to add curried methods to the benchmark results

[2019-11-11 19:54] selfrefactor commented on #305
What I'd do is to add for all methods tested only for Ramda and Ramda, to be called with and without curring. As for `lodash-fp` - I will have to disregard your suggestion in this direction as the package for what I see is deprecated.

[2019-11-11 20:14] #277 closed

[2019-11-18 05:04] timonson opened #317 "[proposal] unzip function"
I love this library and I would like to propose an `unzip` function. It does pretty much the opposite of what your `zip` function does. I use this one:

[code]

What do you think? By the way, ramda has a similar function called `transpose`.

[2019-11-19 16:33] selfrefactor commented on #317
Thank you for the approving words. I will test it out and get back to you.

[2019-11-21 22:16] selfrefactor commented on #317
As this method is not part of `Ramda`, the only way I can add it is to `Rambdax` which is the extended version of `Rambda`. If that is fine with you, please let me know.

[2019-11-22 02:48] timonson commented on #317
But ramda has this function, it is called `transpose` there:

[code]

[2019-11-22 09:25] selfrefactor commented on #317
Now I get it. What I will do is run your implementation through the `Ramda` spec and will get back to you with the outcome. If it passes all tests, then it is clear what happens next.

[2019-11-22 14:13] selfrefactor commented on #317
The test are passing, so the method `R.transpose` will be added in next `4.3.0` release. Naming it `unzip` might sound tempting, but I'd prefer not to increase differences between Rambda and Ramda.

[2019-11-22 14:59] timonson commented on #317
That's amazing, thank you! I like both names :)

[2019-11-23 01:58] gotenxds commented on #147
Any way we can add `set` as an alias to assocPath ?

[2019-11-23 02:10] gotenxds commented on #147
Can we make `indexBy` accept a `Path | (a: T) => string ` so we can use it like this ?

[code]

[2019-11-23 03:16] gotenxds opened #325 "Filter should be consistent"
Currently the `filter` method returns an empty array if the second parameter is `undefined`
Not so when sending in `null`

This should be consistent
lodash for example always returns array if you call it with undefined or null I believe we should do the same.

Currently :
[code]

[2019-11-23 16:17] selfrefactor commented on #147
For the aliases - my issue is that they shouln't be a first class methods and this brings many other problems. For example, how I update all the aliases when a Typescript definition change? Should I leave them out of Ramda definition file?

I will keep your suggestion alive, but for the moment I have to decline it. Still, it is very possible that this change in the future. I will inform you if tha

[2019-11-23 17:48] gotenxds commented on #147
`indexBy` could take either a function or a path to the property
so you could either do this:

[code]

this could be dont using `path` so it would support nesting

[code]

[2019-11-23 22:24] selfrefactor commented on #147
Ok, that helped.
You can check this file 'src/indexBy.spec.js' where I added a specification for your suggestion. I will try to move it forward with Typescript definitions and the new functionallity should land with version `4.4.0`

[2019-11-24 00:24] gotenxds commented on #147
Great ^^ if you need help with that I can make a small PR for that stuff

[2019-11-24 13:03] selfrefactor commented on #147
I am almost there so I guess there is no need for PR. I just have one more task before releasing `4.4.0` but I should be ready soon.

[2019-11-25 17:44] selfrefactor commented on #325
Actually, I'd prefer to throw here, but I also remember that this handling of `undefined` was suggested before by other contributor so I will just add your suggestion. `Ramda` throws in both examplese as you can see here https://ramdajs.com/repl/#?R.filter%28%28%29%20%3D%3E%20true%2C%20null%29%0A

The change will be applied with upcoming version `4.4.0`

[2019-11-25 21:43] gotenxds commented on #325
I suggest accepting undefine and null, it makes working with them much more clean instead of constantly checking for it. This also the way lodash is doing it and people coming from it will find this annoying

[2019-11-25 21:44] selfrefactor commented on #325
I already applied your suggestion, just waiting for one more task to complete and will release `4.4.0`. Thank you for taking the time to file this issue.

[2019-11-26 16:37] selfrefactor commented on #325
Published with `4.4.0`

[2019-11-26 16:37] #325 closed

[2019-11-26 16:37] selfrefactor commented on #317
Published with `4.4.0`

[2019-11-26 16:37] #317 closed

[2019-11-27 12:43] selfrefactor opened #329 "Remove JSDocs"
There is no process to sync latest changes in Ramda, which make is less useful.

[2019-11-27 12:53] #329 closed

[2019-11-28 12:08] millsp opened #330 "why not add ts-toolbelt as a dependency?"
Hi, I created the ts-toolbelt. I came accross your project and I just wondered why didn't you add my project as a dependency?

[2019-11-29 09:19] selfrefactor commented on #330
Because I wanted `Rambda` to stay dependency free, but still be able to provide Typescript definitions. If I do go with the case of exporting these definitions as separate library(i.e. @types/rambda), then I won't have any issue with adding `ts-toolbelt` as dependency. I hope that make sense.

[2019-11-29 09:29] pirix-gh commented on #330
Ok, but having a dependency to a type library is not like a having real dependency anyway, I mean it does not have any runtime code. But you are free to copy it of course, there's no problem with that! I just found that it was a strange decision, and was curious to know why :)

Cheers

[2019-12-01 03:17] AmitMirgal opened #332 "README.md - list with missing Rambda hyperlink is not working"
![Screen Shot 2019-11-30 at 10 10 28 PM](https://user-images.githubusercontent.com/19601060/69908806-88ea6c80-13be-11ea-81c6-f409461f20f3.png)

 **check the list with missing Ramda methods in Rambda** - link seems to be not working.

[2019-12-02 17:14] selfrefactor commented on #332
Thank you for bringing it up.

[2019-12-04 11:56] selfrefactor commented on #332
Closing as it is fixed

[2019-12-04 11:56] #332 closed

[2019-12-10 04:11] shea-parkes opened #339 "Missing description for anyPass in docs."
I think it's fairly straight forward to infer what `anyPass` does from the type signature, examples, and looking at `allPass`, but for completeness it might be nice to add a function description to `anyPass`.

https://selfrefactor.github.io/rambda/#/?id=anypass

[2019-12-10 04:12] shea-parkes opened #340 "Garbled description for clone in docs."
It appears the formatting syntax for the description and type hint of `clone` got a bit garbled:

https://selfrefactor.github.io/rambda/#/?id=clone

[2019-12-10 04:13] shea-parkes commented on #339
I did see some other functions without descriptions, but they seemed to be more obvious ones (e.g. `divide`).

Feel free to close this without changing anything though.  Very nice library!

[2019-12-10 08:52] selfrefactor commented on #339
@shea-parkes I will add description, as you are right that the method is not obvious enough.

[2019-12-10 08:59] selfrefactor commented on #340
Valid issue, thank you. It is solved now.

[2019-12-10 08:59] #340 closed

[2019-12-19 20:53] vendramini opened #345 "addIndex or another way to get index?"
Hi,

What is the best way to get index in functions like `map`? On original `Ramda` we do have a `addIndex` utility. I would like to use this library for performance, but I can't figure out how.

I found this https://github.com/selfrefactor/rambda/issues/85

Whats the best way?

Thanks.

[2019-12-20 12:23] selfrefactor commented on #345
Maybe it is better to show example code of what you are trying to accomplish.

All I know is that Rambda's `map` is passing index as a second argument:

[code]

[2019-12-20 23:03] vendramini commented on #345
Yes, you are right. But in case of mapping objects I can't get index:
[code]
What should we do in this cases?

[2019-12-24 10:16] selfrefactor commented on #345
I fail to see how I can add `addIndex` as its Ramda implementation suggests that it I need to also add `curryN` and the whole task becomes much more complicated.

One way to solve it is to implement the method yourself like in the example below:

[code]

I will be closing this ticket, but feel free to comment further if you feel like it.

[2019-12-24 10:16] #345 closed

[2019-12-27 08:50] devdoomari3 commented on #147
maybe this can be "ramda/fp" like "lodash/fp" ?
(and become part of ramda and make them maintain this? 😉 )

searching for "rambda js" after reading blog-post gives me results for "ramda js"  😞

[2019-12-27 11:55] gotenxds commented on #147
Ramda is already fb, the main difference between rambda and ramda is tree shaking support out of the box and better performance.
Only thing missing now is full TS support, @selfrefactor moving to TS *cough cough* ;)

[2019-12-27 12:06] gotenxds opened #348 "Add chain/flatMap method"
Hya, I've seen previous requests for this but nothing yet, if i'ts fine I'l make a PR to add this

[2019-12-27 12:13] gotenxds opened #350 "Make sortBy receive string as syntactic sugar"
Similar to how lodash does this where you can either pass a function or a string indecating by what property to sort by

[code]

If this is expected I'm open to add this as a PR if needed

[2019-12-27 12:20] selfrefactor commented on #350
It sounds like good suggestion. I'd better take care of the implementation as there are typings tests and documentation that need to be changed as well.

[2019-12-27 12:22] selfrefactor commented on #348
I prefer new methods to be added to [Rambdax](https://github.com/selfrefactor/rambdax) - as that was the main reason behind splitting into two separate libraries. I will close this ticket but feel free to open PR on [Rambdax](https://github.com/selfrefactor/rambdax) repo.

[2019-12-27 12:22] #348 closed

[2019-12-27 12:26] selfrefactor commented on #147
@gotenxds as for your previous comment - please post solution. In other words - you can edit directly Rambda's `index.d.ts` file in your `node_modules` and confirm what change fixes the error. I think that the change is the same as my last commit a few minutes ago, but I just want to make sure of it. Also I will do a release once we agree on a fix.

[2020-01-25 12:48] ku8ar commented on #350
This is not a good idea. Inconsistent API. And the additional "typeof" will slow down the function.

@gotenxds Currently, you can do it this way:

[code]

[2020-01-27 18:57] selfrefactor commented on #350
Thank you @ku8ar for helping in this issue. I will have to agree with you on this one and close the issue as `wontdo`.
@gotenxds , if you have further arguments, please feel free to reopen the issue and continue the discussion. I just think that we have way too many differences with `Rambda` and we cannot actually afford to extend further this list.

[2020-01-27 18:57] #350 closed

[2020-01-28 20:45] #218 closed

[2020-02-01 10:59] #339 closed

[2020-02-12 21:28] synthet1c opened #372 "Add lenses"
Hi,

I want to do a pull request to add lenses to rambda as I need them for a project.

I have completed lens, over, view, set, lensPath, lensProp & lensIndex but would like to know how you want them commited.

Should they all be separate commits and/or separate pull requests for each new function?

The ramda documentation tests all lenses in a single file, is this acceptable or would you prefer i

[2020-02-13 13:59] jcdietrich commented on #147
I would like to see `cond` added.

[2020-02-13 14:25] selfrefactor opened #373 "Add R.cond"

[2020-02-13 14:25] selfrefactor commented on #147
@jcdietrich Will do

`R.cond` is useful method - https://github.com/selfrefactor/rambda/issues/373

[2020-02-13 14:28] selfrefactor commented on #372
This is huge as lenses was the most declined request I had to make every 3-6 months. So far there was only suggestion, without anyone going forward to actually implement them. So big thank to you in this context.

As for the test file. I am very fine if you have just one spec for all methods.

The change will be solid so we'll do a major bump once the changes are approved.

[2020-02-14 03:18] synthet1c commented on #372
Awesome, I'll add the documentation and make a pull request hopefully this weekend.

[2020-02-14 07:18] selfrefactor commented on #372
If you are writing the documentation, please do so only in `files/README.md` as there is a build process that I run before release.

[2020-02-16 10:54] synthet1c commented on #372
I have a couple of issues with building the package following `CONTRIBUTING.md`

* The `src/_typings.spec.js` and `src/_build.spec.js` are failing when running `yarn test`
* The command `yarn prepublish` is not in `package.json`
* I tried to run the benchmarks using `yarn benchmarks` but it only runs a single benchmark for `if_else`
* `docsify` is missing, I tried to install it globally but that d

[2020-02-16 12:21] synthet1c commented on #372
Actually I was able to run the benchmarks by changing the target in `indexProve.js` so benchmarks and docs should be compiled.

[2020-02-16 17:43] selfrefactor commented on #372
That is great. You can pull from master as I made some commits lately and there may be minor conflicts.

Contribution documentation is not updated with the very last changes, but good for you that you made it work despite that :)

Looking forward to the so-important PR

[2020-02-17 14:09] synthet1c commented on #372
I have merged with your latest changes and submitted the pull request, look forward to the update.

Cheers

[2020-02-18 18:31] selfrefactor commented on #373
Closing as it will be published in upcoming `4.6.0` version

[2020-02-18 18:31] #373 closed

[2020-02-27 13:45] selfrefactor commented on #372
@synthet1c Once I write typings of lenses, I will release the new version, that will contain your important PR. Feel free to add more suggestion for methods.

[2020-03-01 19:31] synthet1c commented on #372
Hey Dejan,

That's great news, I would love to remove ramda from my current project.

I just made another pull request for applySpec. I really want to add
transistors, but I think transistors would need to be different than the
ramda api.

Ramda allows you to use the normal map, filter and reduce in the transistor
as those methods are converted to transistors by default. I think it might
be too mu

[2020-03-01 19:44] selfrefactor commented on #372
Hi Andrew,

I was just about to close the issue as I just released `4.6.0` with your lenses methods.

I will take a look at the new PR and will get back to you.

As for your suggestion for new methods - I don't mind adding them to `Rambdax` but I prefer to extend the list of differences between Ramda and Rambda.

Rambdax was created for this sole purpose - adding new methods without worrying too m

[2020-03-01 19:44] #372 closed

[2020-03-14 10:08] selfrefactor opened #399 "Update contributing documentation"
It misses some required steps

[2020-03-25 00:27] FlowJo-zacharyw commented on #147
Any chance `chain` (`fantasy-land`) can be added to this library. 😬

[2020-03-25 00:29] tjklemz commented on #147
Ditto. https://ramdajs.com/docs/#chain

[2020-03-25 08:12] selfrefactor opened #408 "Add R.chain"

[2020-03-25 08:15] selfrefactor commented on #147
@tjklemz Sure, no problem.

I created issue for that - https://github.com/selfrefactor/rambda/issues/408 but it will take at least a month until it is implemented, as right now I make big changes in terms of supporting scripts(build documentation, build Rambdax, generate typings, sync with Ramda test, increase `dtslint` tests).

The feature should be implemented with `5.1.0` and I can ping you onc

[2020-04-01 16:29] mirrec opened #410 "groupWith omits value"
Hello,

thank you for this library, I really like it.
I have found surprising behavior of `groupWith` function.

Example:

[code]

Do you know about this behavior? Because I have found example over here. https://github.com/selfrefactor/rambda/blob/master/files/failing_ramda_tests/groupWith.js

Tested on versions `4.5.0` and `5.0.0`.

[2020-04-02 15:59] gokaykucuk opened #411 "Typescript applies wrong definition for pipe(map) composition."
I am relatively new to functional programming and typescript, so please check _if what i am doing makes sense_ first.

If i write a simple pipe as following,
[code]
Typescript compiler as follows,
[code]
For some reason typescript compiler gets the map the definition at index.d.ts:393, which has the signature, ```export function map<T, U, S>(mapFn: MapFunctionObject<T, U>): (x: Dictionary<T>) => D

[2020-04-04 11:58] selfrefactor commented on #411
![Screenshot_20200404_145526](https://user-images.githubusercontent.com/2149294/78450038-61fdb900-7684-11ea-89cc-492c71f0131b.png)

I will investigate further, I just wanted to share what happens if I use Ramda typings. For most of the typings I try to follow Ramda typings, but in this case you can see that Ramda typings inself doesn't work well with pipe. Those typings made me stop using compose

[2020-04-04 18:26] gokaykucuk commented on #411
The main reason I've switched to Rambda was to use in-house developed types. As far as I know Ramda types are supplied by others than the main devs and they are quite inconsistent. I had many issues with those as you did. Thanks for looking into the problem 👍

[2020-04-06 16:46] selfrefactor commented on #411
I just checked your suggestion - to change order of lines. Typings tests didn't broke so I will go and release it with the next bump.

I am keeping the issue open, as I have to assure that this change is moved to the other branch I am working on.

In regards to Ramda typings - the developers who wrote them, definitely know Typescript more than me. The main reason for the quality is one still [unre

[2020-04-06 16:57] selfrefactor commented on #410
Thank you for reporting this bug. It is fixed in the new `5.1.0` version.

[2020-04-06 16:57] #410 closed

[2020-04-09 07:17] clicman opened #420 "omit on large objects is dramatically slow"
[code]

Result:
<img width="426" alt="image" src="https://user-images.githubusercontent.com/1079535/78868243-c3e76580-7a6c-11ea-95e2-44ffcb443d54.png">

[2020-04-09 12:31] selfrefactor commented on #420
Thank you @clicman for reporting that. It is a good catch and I will into it and keep you informed on the progress.

[2020-04-14 13:35] VinSpee opened #425 "missing typedefs for newly added `converge` and `curryN`"
looks like these were missed, there is no export for them in `index.d.ts`.

[2020-04-16 15:29] synthet1c commented on #420
That was my mistake, I labeled the tests incorrectly, Rambda is the fastest!
[code]

I can do a pull request if needed, but I don't know the full process around publishing new methods so I will probably miss something in the building of the dist files.

[2020-04-16 15:48] synthet1c commented on #425
Dejan opted to leave them out as there are no typescript definitions, unfortunately, I don't yet know typescript to be able to contribute it.

You can access them directly from the source.
[code]

[2020-04-16 18:08] selfrefactor commented on #420
Hi @synthet1c

Thank you for getting back to me. The current info is irrelevant as all benchmarks will be recalculated my WIP branch is ready. I can ask for your review of the contribute guide, as I see that you may give a valuable feedback. I am closing this then and once I am ready with the guide, I will tag you for PR review if that is fine with you.

[2020-04-16 18:08] #420 closed

[2020-04-16 18:11] selfrefactor commented on #425
@VinSpee I will try to add them soon.

[2020-04-17 05:37] synthet1c commented on #420
Hey Dejan,

Yeah sounds good.

On Fri, Apr 17, 2020 at 4:09 AM Dejan Toteff <notifications@github.com>
wrote:

[2020-04-21 18:05] selfrefactor commented on #425
Added with `5.1.1`

[2020-04-21 18:05] #425 closed

[2020-05-03 18:30] joeyfigaro opened #430 "Add R.when"

[2020-05-07 10:26] selfrefactor commented on #430
I will add it but I am in the middle of something so it will take maybe two weeks before. It is not the reason of the method itself, rather than changing how methods are added and I need to finish it before moving forward.

[2020-05-09 19:15] joeyfigaro commented on #430
@selfrefactor not a problem, mate—at your leisure/convenience. :)

[2020-05-12 17:03] #411 closed

[2020-05-12 17:50] #305 closed

[2020-05-13 19:49] selfrefactor commented on #430
Released with `5.3.0`

[2020-05-13 19:49] #430 closed

[2020-05-13 21:13] selfrefactor commented on #408
Released with `5.4.0`

[2020-05-13 21:13] #408 closed

[2020-05-21 14:23] mrKimura opened #458 "Typescript error. Parameter implicitly has an 'any' type."
node_modules/rambda/index.d.ts:797:68 - error TS7006: Parameter 'obj' implicitly has an 'any' type.

`
export function propIs<P extends string>(target: any, property: P, obj): <T>(obj: Record<P, T>) => boolean;
`

[2020-05-21 16:18] selfrefactor commented on #458
Fix is on its way. Thank you for reporting that.

[2020-05-21 16:26] selfrefactor commented on #458
I just published `5.4.1` but I am still unsure that you won't get it again, as you didn't provide an example code.

I just imported `R.propIs` definitions from `@types/ramda` so it should be fine, but please let me know if that is not the case.

[2020-05-21 16:26] #458 closed

[2020-05-21 19:34] selfrefactor commented on #399
@synthet1c you can check the above commit, as it introduces the new version of `CONTRIBUTING.md`. Please feel free to comment on it here, even though the issue is closed.

[2020-05-21 19:34] #399 closed

[2020-05-21 19:36] selfrefactor opened #459 "Suggestions"
This issue is opened to encourage suggestions and feedback

[2020-05-21 19:37] #147 closed

[2020-05-24 02:40] farwayer opened #460 "paths should be curry'ed"
As in ramda and TS typings

[2020-05-26 13:28] dancsee89 opened #461 "median should not work for not number types"
It's a [x] Bug

IF `median()` function is called with any, not number type, it is still executed, and returns wrong results. (e.g. strings are still compared, and processed in alphabetical order)

IT should not work for any other types, since it's confusing, I recommend returning with `NaN` in these cases.

I made the fix, and wrote unit tests as well, but couldn't open a PR with it, so here it is

[2020-05-27 14:27] selfrefactor commented on #461
@dancsee89 Thank you for opening the issue. Seems like a valid question and I will get back to you later with my review.

[2020-05-27 14:34] selfrefactor commented on #461
I run your test against Ramda implementation of `median` and it fails, which means that this change will add to the differences between the two libraries. Maybe it is not the response you expected, but I prefer not to add to the differences list, as there is a risk to grow too long to comprehend.

If you can pursue `Ramda` to make this change, then I will have no problem of accepting your change.

[2020-05-27 14:34] #461 closed

[2020-05-27 18:52] noamcore commented on #459
Hi, I was trying to use the library with typescript and I got an error using the `pick`.

Here is a code example:

[code]

Here TypeScript fails saying the `Dictionary<MyObject>` must have the attributes `id, type, value`.

In Ramda is something like this:

[code]

[2020-05-28 07:56] selfrefactor opened #462 "Wrong R.pick typings"
https://github.com/selfrefactor/rambda/issues/459#issuecomment-634870095

[2020-05-28 08:00] selfrefactor commented on #462
Thank you @noamcore for bringing the issue up. I moved to separate issue, so we can discuss in separate thread.

Your initial example won't work with `Ramda` as well, as you need to pass the custom type to `R.pick`.

This will work:

[code]

I will publish later today a patch version of `Rambda` with correct typings.

[2020-05-28 08:09] selfrefactor commented on #460
Thank you @farwayer as this is silly mistake. Fixed with `5.4.2`

[2020-05-28 08:09] #460 closed

[2020-05-28 08:10] selfrefactor commented on #462
Fixed with `5.4.2` but feel free to comment even if the issue is closed.

[2020-05-28 08:10] #462 closed

[2020-05-28 13:28] farwayer opened #463 "Benchmarks don't work"
Error if uncomment `runSingleBenchmark()` or `runAllBenchmarks()` in `scripts/all-scripts/all-scripts.spec.js`:
[code]

[2020-05-28 23:07] romgrk opened #464 "flip doesn't work when arity > 2"
This is a difference with ramda and should either be documented as such or be made compatible.

If it's not made compatible, a more reasonable behavior than `return undefined` should be used, eg `throw new Error("flip doesn't work with arity > 2")`.

https://github.com/selfrefactor/rambda/blob/f8f389549bd03a59b218009117952b318d66932e/src/flip.js#L1-L11

Note: just reviewed the doc, there is a smal

[2020-05-28 23:11] romgrk opened #465 "Docs: suggestions"
1. Add `rambda` to the page so one can drop in the console from the doc page and use it
2. Add a search box like ramda has

[2020-05-28 23:36] Revilotom opened #466 "Pipe typings not seeming to work.."
typescript: 3.9.3
rambda: 5.4.3

`R.pipe<number[]>(
        shuffle,
        R.take(5),
        R.append(10),
        shuffle,
    )([0,1,2,3,4,6])
}`

With the above code I get the following error:
Expected 1 arguments, but got 4

Please can someone point out to me what im doing wrong?

[2020-05-29 05:26] farwayer commented on #465
Searchbox will be very cool improvement. I'm using ramda page for it now.

[2020-05-29 05:32] farwayer commented on #466
`pipe` and `compose` typings are broken :pensive:

[2020-05-29 20:16] selfrefactor commented on #465
@romgrk Can you explain point 1 with other words as I fail to fully understand it.

Currently I am building new documentation with Angular and I will add many features I feel are missing in `docsify` and `markdown`. Search box and filter methods by type are among them. I will keep the issue open and I will close it once the documentation application is ready.

[2020-05-29 20:31] selfrefactor commented on #464
I agree that the method the least should throw instead of returning `undefined`.

The limitation of `R.flip` was listed before in `Differences between Rambda and Ramda` section and was removed from there recently.

I thank you for pointing out that `Reason for the failure is... ` section needs to be a bit more obvious and I will add a :boom: emoji so it reads ':boom: Reason for the failure is... '

[2020-05-29 21:12] selfrefactor commented on #463
It is a valid bug. I will look into it.

[2020-05-29 21:24] selfrefactor commented on #463
Up until now, I didn't now that Jest's default test environment is `jsdom`. Thank you. Please try now, it should work.

[2020-05-29 21:24] #463 closed

[2020-05-29 21:33] romgrk commented on #465
Awesome :) What I mean by point 1 is that you can use `R.methods` from the browser console in ramda docs:

![Screenshot from 2020-05-29 17-33-59](https://user-images.githubusercontent.com/1423607/83307296-68b33300-a1d2-11ea-9d88-835a2c77de3d.png)

[2020-05-29 21:57] selfrefactor commented on #465
The future documentation site should have this feature without extra work, as it will have REPL inside it, i.e. it won't be a separate site as it is now. This means, that what you show in the screenshot, will be possible.

[2020-05-29 22:13] romgrk commented on #464
Here is a version that works with 3 arguments:

[code]

However it requires `fn` to have its `.length` set the to correct value, so other functions in rambda that use `curry` don't work (e.g. `assoc`) because `curry` drops the length :/
One easy fix could be to re-implement `curry` in terms of `curryN`:

[code]

[2020-05-29 22:26] selfrefactor commented on #464
Sounds good to me. Can you open a PR for that. Just edit `source/flip.js`

[2020-05-30 07:33] selfrefactor commented on #464
Actually, I could make your solution work, so I increased the supported arity of `Rambda.flip` to 4. I could wait a few days before releasing the next version, so feel free to open a PR if you want to.

[2020-05-30 07:41] selfrefactor commented on #466
I just changed the typings of `R.flip` to match that of `@types/ramda` and the end result is not great:

[code]

As you can see, like it or not, there is definitely a price to pay when using Typescript with Ramda/Rambda.

[2020-05-30 08:03] farwayer commented on #466
When I wrote about broken pipe and compose typings I meant number of functions not about argument types. See https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7df04df6a1a83df5c73bd4e35f824e09099dfeeb/types/ramda/index.d.ts#L1411

[2020-05-30 08:05] farwayer commented on #463
It works now! Thanks.

[2020-05-30 08:05] selfrefactor commented on #466
@farwayer I understand it the other way, that why I was a bit excessive in my explanation. Thank you for the clarification.

[2020-05-30 08:17] farwayer opened #468 "fs-extra should be moved to devDependencies"

[2020-05-30 12:25] selfrefactor commented on #468
Quite silly of me. Thank you for seeing that.

[2020-05-30 12:34] selfrefactor commented on #468
Fixed with `5.5.0`

[2020-05-30 12:34] #468 closed

[2020-05-30 13:36] #464 closed

[2020-05-31 00:01] farwayer opened #475 "Many benchmarks are wrong and do not reflect reality"
First of all thank you for the great library! I used it in many projects.

But rambda is not so fast as you can think. Many popular functions are much slower than ramda and lodash. The reason of the misconception is in wrong benchmarks.

Lets start from theory. Most functions for processing data consist of two stages: **initialization** and **processing**. In initialization part fn checks data typ

[2020-05-31 09:03] cjk commented on #475
Good point. I also noticed the speed difference between Rambda und Ramda vanished or inverted, as data-sizes being processed increased.

[2020-06-02 11:35] selfrefactor commented on #475
@farwayer I just approved all of your PRs and I'll try to improve the benchmarks to fix the raised issue. If you have ideas even for a single benchmark update(like R.find), that will make it easier to apply the same pattern to all of the benchmarks. Thank you for this issue and for the PRs. For contributors like you, I will dedicate a special section as these changes are important.

[2020-06-02 13:54] farwayer commented on #475
@selfrefactor Can rework benchs to have several tests with labels for one function? Examples bellow.
**Bench processing performance**
[code]
**Bench initialization performance:**
[code]

[2020-06-02 14:17] farwayer commented on #475
And it would be nice to add testing built-in functions like `arr.find()`, `arr.filter()` to comparation.

[2020-06-03 07:11] peterreisz opened #476 "propEq type definition does not guarantees type safety"
The current definition accepts any as the last parameter

[code]

The type safe solution would be something like this:

[code]

[2020-06-03 08:00] selfrefactor commented on #475
Add native to benchmark is a good idea. I haven't thought about it. Unfortunately, documentation of this project is tightly coupled with benchmarks being in a single file, so we'll have to work around this limitation.

Thank you for the provided example. I can try to replicate your two example cases in a single file. I can create a PR for one of the method's benchmark and I can refer you as review

[2020-06-03 09:11] farwayer commented on #475
Yes, it will be nice

[2020-06-03 12:01] selfrefactor commented on #476
Thank you  @peterreisz for pointing this out.

I copied the definitions from `@types/ramda` and I created a `dtslint` test to confirm the change. You can see it in the referenced commit.

[2020-06-04 15:06] selfrefactor commented on #475
I will have to change how benchmark files are used during the generation of the markdown file. It should have option for method to be tested against two setups(fast and slow).

For now I created a new command `yarn benchmarkx` which allow to run all benchmarks inside `scripts/run-benchmarks/experimental`. This way, we can start creating new benchmarks, even though the new results won't be yet disp

[2020-06-04 16:01] farwayer commented on #475
It will be better if we can have several benchs for one function in one file.
And I noticed you replaced
[code]
with
[code]
in find function.
Second variant is slower because of accesing `length` property every step of cycle.

[2020-06-04 17:56] selfrefactor commented on #475
My problem with several modes per file is that results are not as clean. Benchmarks are started with `benny` library and this library produce the output, used later in the markdown.

As for your latest comment -  in order to be able to return function from `fn` property, I will have  to check if that is possible. If not possible, how about initializing `list` outside the `fn` property?

[code]

As

[2020-06-04 18:35] selfrefactor commented on #475
I just checked `benny` and the example you suggest won't be possible. `fn` property holds the function to be started; it cannot return a function. What I will do is to generate more complex pipeline for generation of benchmarks. After the pipeline is ready, `R.find` example can be applied to the rest of Rambda methods.

Meanwhile, I'd love to hear if the current state of the new benchmarks if find

[2020-06-04 19:52] selfrefactor commented on #476
Released with `5.6.1`

[2020-06-04 20:24] farwayer commented on #475
Check benny API please https://github.com/caderek/benny#api
[code]
Generating list one time can be a bit unfair. List can get into the cache after first test and subsequent tests can work with it faster. This is not surely true, but is possible.

About several benchs in one file: you can generate several benny suites from single file and than parse it. This is not necessary, but it is more conveni

[2020-06-04 21:40] selfrefactor commented on #475
Ok, then I will try to see what I can do with the info you gave me. I will try to use one file for all the cases and to return a function as the `benny` example.

[2020-06-08 13:38] peterreisz commented on #476
@selfrefactor there is a problem with the `Record` solution when using optional properties.
When the type has optional property you cannot write code which compiles.
The built-in Record type constructs a new type, but in that type the prop will be required, which will not match with the given type.

[code]

[2020-06-09 07:32] selfrefactor commented on #476
@peterreisz I will run `dtslint` test and most probably I will apply your suggestion.

[2020-06-09 08:10] selfrefactor commented on #476
Released with `5.6.2`

[2020-06-09 08:10] #476 closed

[2020-06-09 16:29] selfrefactor commented on #465
I am closing this issue in favor of `rambda-docs` issue - https://github.com/selfrefactor/rambda-docs/issues/2 as documentation site is developed there

[2020-06-09 16:29] #465 closed

[2020-06-12 02:51] farwayer commented on #459
Can we clean repository from all generated files? Because:
1. Potencial merge conflicts in PRs and while repo pull
2. Confusing between `source` and `src` directory
3. A lot of noise for brain while reviewing: instead of several lines many files changes
4. It is hard to find something for external user in complex project structure
5. Repo is not the place for build artifacts

[2020-06-12 02:57] farwayer commented on #475
One more thing we should do to preliminarily complete new benchs preparation is running benchs for every PR with CI.

[2020-06-12 03:51] selfrefactor commented on #459
@farwayer I am open to discuss all the valid issues of your last comment. Any suggestion how to solve that. One way will be to move the current state in a separate repo and this repo will hold only tests, `src` folder and the final Typescript definitions. Still, this bring new set of problems as this distrupts the current complex but working state. Maybe you have a better suggestion?

[2020-06-12 05:42] farwayer opened #487 "curryN is very slow"
We should review it code and optimize it. After merging #469 all functions that uses `curry` got much slower. I recommend to revert it before we will fix curryN performance.

[2020-06-12 07:23] selfrefactor commented on #487
It was related to `R.flip` functionality. I am up for reverting the whole PR and we'll do that the version that will be released today or tomorrow. I will do a compare before and after to confirm your claim, but I am sure you are right about it.

[2020-06-13 07:49] selfrefactor commented on #459
I removed benchmark results and readme json files from the repo and I added them to `.gitignore`. That would reduce the noise in the commits and make git history not so confusing.

[2020-06-15 11:24] falkenhawk commented on #466
@selfrefactor can at least rambda's types for `compose` & `pipe` be unified with those of ramda?
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7df04df6a1a83df5c73bd4e35f824e09099dfeeb/types/ramda/index.d.ts#L292-L320

Currently rambda can't even handle more than 1 argument - there are only typings for `fn0` variant:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7df04df6a1a83df5

[2020-06-15 13:43] selfrefactor commented on #466
@falkenhawk Thank you for bringing this up - it is error of the build step as Rambda.compose has all `@types/rambda` definitions in `files/index.d.ts` but for some reason not all the typings are picked up in the build step. Will fix it later today and release a new version.

[2020-06-15 13:51] selfrefactor commented on #466
Should be fixed with `5.6.3`

[2020-06-15 19:57] selfrefactor commented on #487
I reverted the old `R.curry` functionality and while it is still slower that Ramda, it is an improvement. Released with `5.7.0`

[2020-06-15 19:57] #487 closed

[2020-06-16 10:38] falkenhawk commented on #466
@selfrefactor I still could not use `compose`/`pipe` without specifying generics manually...
[code]

was causing
[code]

so I figured this workaroud...
[code]

[2020-06-16 11:03] selfrefactor commented on #466
@falkenhawk Can you give me more detailed example than `compose(fn1, fn2)(v => v);` so I can use the power of `dtslint` to verify your suggestion?

[2020-06-16 11:31] falkenhawk commented on #466
@selfrefactor would this reproduction be enough? 🤔 https://codesandbox.io/s/relaxed-moore-9wf1n?file=/src/index.ts

[2020-06-16 12:10] selfrefactor commented on #466
It is enough, but I don't see a problem that Typescript complains, as I believe that it should:

[code]

this code works:

[code]

I am open to accept your suggestion, but I will need a stronger use case than you initially suggested. Also, in the case of `R.pipe/compose` I am simply following `@types/ramda` definitions and I really need a good argumentation to brake this connection.

[2020-06-16 12:36] falkenhawk commented on #466
Actually, it might be only our case where we use `combine`/`pipe` to wrap "enhancers" for graphql resolvers (a series of functions which wrap the original resolver e.g. checking auth, privileges before calling it, or modify a knex/objection.js querybuilder instance returned by that resolver before calling it)...

I may try to set up a reproduction, but it's quite convoluted in our real code with t

[2020-06-16 12:45] falkenhawk commented on #466
And thanks for the tip about mismatching "inputs", you are right I was passing something - what the individual functions did not expect - to the combined function and that's why the typescript rightfully complained.

There is just a little something that triggers typescript to yell at me in my real code 🙈 and the "workaround" posted by me may only accidentally "fix" it by disabling some ts checks.

[2020-06-16 12:48] selfrefactor commented on #466
Glad to be able to help. `index2.ts` file in codesandbox is empty(at least this is what I see). How do you suggest to proceed?

[2020-06-16 16:22] #466 closed

[2020-07-14 15:41] slavaGanzin commented on #459
1. It wold be awesome to have a list of not implemented functions of ramda
2. It would be awesome to have optional built-in fallback to ramda

p.s. I have the same problems, btw: https://github.com/slavaGanzin/ramda.py

[2020-07-15 09:50] selfrefactor commented on #459
This is nice idea to have optional build-in, but as this comes with increased size, it it best implemented in a new library.

As for the list of missing methods - it is in the README file, but it needs to be more obvious.

The list is within expandable section with the label: ` Click to see the full list of 107 Ramda methods not implemented in Rambda `

[2020-07-19 10:12] mnieber opened #510 "Clamp is broken"
I think clamp is broken for negative numbers, because in the REPL I got -10 for this expression
[code]

[2020-07-20 11:16] peterreisz opened #511 "Unused generic type causing compilation error"
I'm trying to use a newer version of Rambda with a strict ts-config in an angular project and I've got this compilation error:

[code]

Had to go back to version 5.5

[2020-07-23 13:22] selfrefactor commented on #511
Thank you for reporting this bug.

Can you share link to the Angular project or the strict config as I can see the bug for myself?

[2020-07-23 13:34] selfrefactor commented on #510
Thank you for the report. A fix is applied and I will close the issue, once I publish a new version.

[2020-07-23 13:44] peterreisz commented on #511
It's a proprietary project which I cannot share, but you can try it on a minimum project without angular too:

package.json
[code]

tsconfig.json
[code]

test.ts
[code]

build it with: `npx tsc`

[2020-07-23 13:53] selfrefactor commented on #511
Thank you - that is more than enough info. I will try to reproduce it and I will get back to you later this week.

[2020-07-25 09:42] selfrefactor commented on #511
So `ts-toolbelt` fixed this issue, but later commits brake it again. I had to allow to connect `Rambda` to specific commit of `ts-toolbelt` and I can claim that the issue is fixed. Expect it with upcoming `5.10.0` version.

[2020-07-31 10:17] ivan-kleshnin opened #514 "Length of empty string should be zero, not null"
Empty string conceptually is an empty array of chars:

![Screen Shot 2020-07-31 at 13 15 56](https://user-images.githubusercontent.com/2128182/89025689-faa0fe80-d32f-11ea-9a9a-2e5af2d99404.png)

Update: it actually returns `NaN` which is displayed as `null` in web REPL.

[code]

[2020-07-31 17:09] selfrefactor commented on #514
Thank you for finding this one. The fix will be live with upcoming version `5.10.0`

[2020-07-31 17:46] selfrefactor commented on #514
I am closing this issue as version 5.10.0 is published

[2020-07-31 17:47] selfrefactor commented on #510
I am closing this issue as the fix is published with version `5.10.0`

[2020-07-31 17:47] #510 closed

[2020-07-31 17:47] selfrefactor commented on #511
I am closing this issue as the fix is published with version `5.10.0`

[2020-07-31 17:47] #511 closed

[2020-08-01 04:21] ivan-kleshnin commented on #514
@selfrefactor no problem. If you care about my opinion – I can share with you a few things on how to better (and more correctly) advertise this library. I made a little research recently and got something to add to the discussion. Not something mind-blowing but still. I'm not a kind of person who gives unrequested advices (and maybe you don't like them too) so I'll stop here for now.

[2020-08-01 10:11] selfrefactor commented on #514
@ivan-kleshnin I would be interesting for me what are your advises, so if you don't mind, please share them  -I am very much open to such suggestions.

[2020-08-02 08:38] ivan-kleshnin commented on #514
### Intro

A few day ago I rewrote one of my project from Ramda to Rambda as an experiment. There were about 50 places where I used Ramda functions. Rewrite went smoothly though I found the above bug and some documentation issues (mostly about argument orders being the reverse of what docs claim). Nevertheless, I'm mostly happy about the rewrite and Rambda being so close to Ramda in terms of API.

[2020-08-02 11:00] selfrefactor commented on #514
Thank you for the detailed explanation. I will try with your vendor file to check if that influence tree shaking(I expect that it will). Tree shaking repo that compares the build size between Ramda and Rambda is basic Angular project. Even if vendor file helps, I still believe that it is a advantage that Rambda is tree-shakeable without extra efforts. But as I said, I will test with your vendor fi

[2020-08-02 12:07] selfrefactor opened #515 "Improve advantages section"
Continued from #514

[2020-08-03 06:12] ivan-kleshnin commented on #514
Thank you. I can cut my current project down to the "playground" barebones and push it to the public.

I'm not a performance expert, by far, so my opinion has little value. Still, I think adding a note that "performance measuring is tricky" and linking a discussion thread (so you can get more feedback from those in-the-topic) is a good idea indeed.

[2020-08-03 06:24] selfrefactor commented on #514
I will try to find a public frontend project using ramda as I want to create a proof that Rambda timing is better than Ramda. So there is no need to create me a `sandbox` of your project, as this will just prove what we already know. I actually included better dev build as an advantage, even if proof is not yet ready.

[2020-08-03 07:50] ivan-kleshnin commented on #514
Good. In my case tree-shaking of 3rd party libs were enabled by adding

[code]

in `package.json`. This flag is described like something libraries should have but I've been using it seamlessly with applications as well.

[2020-08-03 11:55] selfrefactor commented on #514
I will use this info and keep you informed on the progress. I will close the issue and move the discussion to #515

Once I have a progress, I will tag you in #515

[2020-08-03 11:55] #514 closed

[2020-08-04 11:28] alex-pol opened #519 "Typescript errors with CRA"
Typescript show errors after updating to 5.10.0
`.../node_modules/rambda/_ts-toolbelt/src/Any/_api.ts
TypeScript error in .../node_modules/rambda/_ts-toolbelt/src/Any/_api.ts(3,9):
Re-exporting a type when the '--isolatedModules' flag is provided requires using 'export type'.  TS1205`

Project uses CRA (https://github.com/facebook/create-react-app) and isolatedModules flag cannot be disabled.

[2020-08-06 08:13] selfrefactor commented on #519
PR to fix this issue is opened at Rambdax repo - [https://github.com/selfrefactor/rambdax/pull/56](https://github.com/selfrefactor/rambdax/pull/56)

I will apply the fix to the pipeline that generates Rambda's local `ts-toolbelt`.

[2020-08-06 11:52] selfrefactor commented on #519
Can you try with the latest release of `Rambda` by changing to this line in your package.json `"rambda": "https://github.com/selfrefactor/rambda#5.12.1-fixed"`?

It expect it to work, but your confirmation would be helpful.

[2020-08-10 02:28] Yxwww commented on #519
@selfrefactor , I had the same issue using TS `isolatedModules` flag and `5.12.1-fixed` fixed it.
Thanks !

[2020-08-10 08:35] selfrefactor commented on #519
Thank you @Yxwww for this confirmation. I therefore made a release `5.12.0` that contains the fix. Closing the issue - please reopen if the issue is not solved.

[2020-08-13 15:09] aethelz opened #524 "assocPath breaks if path includes digits"
assocPath breaks if string path starts with digit.
It seems that [this line](https://github.com/selfrefactor/rambda/blob/65b780f236595c34677726b2370e68cec0031f9b/src/assocPath.js#L22) is to blame.

Minimal reproducible example (comparison with correct ramda behavior included): https://stackblitz.com/edit/js-e5ro2z?file=index.js

[2020-08-13 18:39] selfrefactor commented on #524
Thank you for the report - it is a valid bug and I will try to apply a fix tomorrow and make a new release.

[2020-08-14 10:29] selfrefactor commented on #524
Fixed with `5.12.1`

[2020-08-19 07:56] selfrefactor commented on #524
@aethelz - I am reopening this as the change I made to fix it, caused `R.lensPath` to stop working with strings as path input.

Now I restored and changed the lines in question and we have this bug tests:

[code]

It is not the best solution, as it creates a difference with Ramda API. In other words, using numbers as path in `R.assocPath` is problematic. I will try to suggest better solution, whil

[2020-08-19 08:08] selfrefactor commented on #524
Properly fixed with `5.13.0` as `5.12.1` cause `R.lensPath` to stop working with string as path input.

[2020-08-19 08:08] #524 closed

[2020-08-22 08:14] ivan-kleshnin opened #525 "removeIndex availability"
Hi Dejan.

https://github.com/selfrefactor/rambda/blob/39d86a06442b0e2a8738b97627027af51886731c/scripts/populate-readme-data/assets/CHANGELOG_RAMBDAX.md says that `removeIndex` function is implemented since 5.0.0.

Hovewer, I don't see this function available in 5.13.1, the named export is `undefined`.
Also the official [changelog](https://github.com/selfrefactor/rambda#changelog) does not even me

[2020-08-22 10:25] #525 closed, assigned to nobody

[2020-08-26 11:19] selfrefactor opened #534 "Poll: passing index as second argument to `R.map`"
The current behavior is that index is passed as second argument. There are few more Rambda methods that does that, so the question is do you prefer to have this option, or you'd prefer to match Ramda logic, which is to pass only the value?

/polls "Option A" "Option B" "Option C"

[2020-08-26 11:19] selfrefactor commented on #534
/polls Option1 'Option 2' "Option 3"

[2020-08-27 07:54] #534 closed

[2020-09-06 08:58] ivan-kleshnin commented on #534
I support the applied change. Yes, more code in some cases but more predictable in others (two-args curried functions aren't filled with `i`), more strict typing, obeys functor scheme.

[2020-09-06 09:03] selfrefactor commented on #534
@ivan-kleshnin Thank you for the feedback. I will introduce `R.mapIndexed`/`R.forEachIndexed`/`R.filterIndexed` to Rambdax, so people can switch to the old behavior when needed.

[2020-09-11 12:37] G07cha opened #546 "Missing release entries for last few version"
Thanks for the library, I find it really handy! I noticed that 6th major release and further are not logged on releases page, I was wondering if documentation about releases were migrated anywhere else?

[2020-09-11 12:44] G07cha opened #547 "Typings from v6.0.0 are incompatible with immutable arrays"
Due to changes in https://github.com/selfrefactor/rambda/commit/03b8e7c818eba5780dbe6021a1a562ddf920390d functions accepting array are now only accept mutable arrays or cloned immutable arrays, I've noticed that in many functions arrays are being cloned internally, is there a reason for this change?

[2020-09-11 13:08] selfrefactor commented on #546
Releases are used mostly to test Typescript definitions before publishing a new NPM version.

Before every such release, I have to edit `.gitignore` file to include and later exclude `dist` folder.

Improvement is possible, but it will require `dist` to be published and Github API to allow publish of new release.

The least I can do is add warning in README that releases are not reliable as they a

[2020-09-11 13:22] selfrefactor commented on #547
It was a bit naive change, as the reasoning was the readability of `files/index.d.ts` file. There was lack of consistency as many arrays was missing `readonly` and it was easier for me delete `readonly`, instead of fixing it. Also, I thought that `readonly` may be obsolete in functional programming context.

Now, I realize that I was wrong thinging and I will add `readonly` to all arrays in the sa

[2020-09-11 15:28] G07cha commented on #546
Thanks for detailed reply, really appreciate the time and effort you put into testing releases. I've a couple of ideas that might help but I'm curious about your normal approach to testing releases if you don't mind sharing it?

[2020-09-12 10:51] selfrefactor commented on #546
I am glad you understand my position. As I said, I will add info that releases are for test purposes and shouldn't be relied upon.

As for testing releases - there are `dtslint` and unit tests which theoretically are enough. But when there is a major change, I like to be able to test the pre-release. I do that using code inside `scripts/consume-typings` folder.

You mention that you have some idea

[2020-09-14 08:10] G07cha commented on #546
Surely, have you tried linking packages locally?

If you edit `scripts/consume-typings/package.json` and install packages with `yarn --force` you should get latest locally built version alongside with typings. Would this work for you?

[code]

[2020-09-14 09:56] selfrefactor commented on #546
Yes, that would work nicely. Are you sure that `--force` flag is needed as this is first time I see this argument?

[2020-09-14 10:24] G07cha commented on #546
`--force` flag would tell yarn to ignore current state of dependencies and reinstall packages regardless, there might be another way to do it but I'm not sure how. The issue is that yarn would quickly compare if all versions match between `package.json`, `yarn.lock` and `node_modules` and because it's a local link it wouldn't be able to detect changes.

[2020-09-14 11:36] selfrefactor commented on #546
That makes sense - thank you for the clarification.

[2020-09-14 11:48] G07cha commented on #546
My question has been answered a while ago actually, so this issue can be closed.

[2020-09-14 11:48] #546 closed

[2020-09-18 09:47] selfrefactor commented on #546
@G07cha  - I just tried to apply your suggestion `"rambda": "file:../../"` but it didn't work as expected. I wanted just to inform you about that.

[2020-09-18 10:56] G07cha commented on #546
@selfrefactor would you mind sharing more details about the issue?

[2020-09-18 11:25] selfrefactor commented on #546
It was my mistake. Now it works as expected. Thank you.

[2020-09-18 14:22] ivan-kleshnin opened #548 "Currying and TypeScript"
I'm a Typescript newbie... As it seems, `R.curry` function does not preserve typing at all (returning `any`). I suppose this is due to TypeScript limitations on generics and variadic args. Would be great if you enlighten us on the current status quo of this topic.

Looks like TypeScript 4 has all the ingredients for generic `curry`. Are you going to update as it leaves beta?

Are there some workar

[2020-09-19 09:20] selfrefactor commented on #548
Unfortunately, there is not much to share. I was subscribed to [variadic functions Typescript issue](https://github.com/microsoft/TypeScript/issues/5453) so I have the change to play very early on with **variadic tuple types**. I also read all the discussions and examples around it in the hope that I will be able to use it in *Rambda*. As much as I tried, I couldn't make it work.

Now, there is no

[2020-09-21 05:48] ivan-kleshnin commented on #548
Ok, a got the situtation, thanks for sharing!

I discovered, for myself, that I'm fine with `(x: a) => x(b) : c` kind of typings. They are a piece of cake to type comparing to variadic and while they require to call functions like `fn(x)(y)` instead of `fn(x, y)` that is such a minor detail in overall picture so it's probably not worth fighting against. A significant % of functions I write are com

[2020-09-21 10:11] selfrefactor commented on #548
I, myself barely use `R.curry`, so you have deeper insights what typings works best.
So, you don't mind the current `R.curry` typings? If so, then you wouldn't mind closing this issue, as I promise to update `R.curry` once `@types/ramda` make any change to it.

[2020-09-21 13:45] ivan-kleshnin commented on #548
Sure, I simply wanted to know your opinion. Thanks again.

[2020-09-21 13:45] #548 closed

[2020-09-23 15:58] aethelz opened #553 "Possible currying glitch"
For some reason rambda typings fail in this tuple array example with curried prop function. If we use full form, TS infers proper types:
https://stackblitz.com/edit/typescript-frjsyt?file=index.ts

I couldn't quite understand if it is TS limitation or simply a missing overload :(

[2020-09-24 07:13] selfrefactor commented on #553
I did the same example with Ramda and I received one more error, which means that there is no error in Rambda typings.

In your example, you receive error when you use `prop(0)` but R.prop doesn't accept number as property input. It comes from Ramda typings and Rambda often follows their definitions.

So while R.prop(0) works fine in plain Javascript, but from Typescript point of view this is inco

[2020-09-27 09:14] selfrefactor commented on #553
I am closing this, as I haven't receive any further response.

[2020-09-27 09:22] selfrefactor commented on #547
It took me longer than expected, but the version `6.2.0` fixes this issue, so I am closing it.

[2020-09-27 09:22] #547 closed

[2020-09-28 09:00] G07cha commented on #547
Can confirm, thanks!

[2020-10-15 13:27] selfrefactor opened #556 "Discussion: Introduce stricter error handling than Ramda"
This issue will stay open until February 2021, when it will either be applied or ignored. The idea is to have time to collect your opinion on the matter.

I have a problem with such code:

[code]

One issue is that this allows silent errors, which can be confusing.
Second issue is that in Typescript, one will never be able to pass `undefined` as list. This means that any code that depends on this

[2020-11-02 11:25] aethelz commented on #553
Sorry for the late reply, didn't have time to investigate further.

I am by no means an advanced TS user, so I don't have a ready solution, but would like to share my findings.

It seems that original ramda's prop was made to [accept numbers as property input](https://github.com/typed-typings/npm-ramda/issues/94) to better follow JS behavior (which seems reasonable)

And indeed, a special handling

[2020-11-02 12:52] selfrefactor commented on #553
Thank you for the long comment. I am reopening this issue and will get back to you with suggestion. You make a good point that maybe I don't need to follow `@types/ramda` so closely, but without personally experiencing TS problems, it is hard to spot them just by when looking at them.

[2020-11-08 19:05] selfrefactor commented on #553
I applied your suggestion. You can look at it to confirm that it is as expected.

[2020-11-08 19:25] aethelz commented on #553
Hmm, I cannot see any prop type changes in [linked commit](https://github.com/selfrefactor/rambda/commit/21b0393a33f1bf9e90f90ba69006c4c2ef9dab8c#diff-7aa4473ede4abd9ec099e87fec67fd57afafaf39e05d493ab4533acc38547eb8R1151) index.d.ts, just batch export keyword removals.

[2020-11-08 19:32] selfrefactor commented on #553
Sorry, I forgot to run the build script and I also forgot that I have made other changes not related to this issue. Please check the other linked commit.

[2020-11-08 20:11] aethelz commented on #553
Overall LGTM 👍🏻, but while checking how it works I began wondering if we can pull off this (probably can):
[code]
and I think I found another bug in curried typings (maybe for another issue though):
Record<P, T> narrows type too much, this causes an assignability error in legit cases:
[code]
`Argument of type '{ e: string; d: string; }' is not assignable to parameter of type 'Record<"e", string>'.

[2020-11-08 23:52] selfrefactor commented on #553
I will try to apply your suggestion and I will get back to you.

[2020-11-13 10:08] naomei commented on #519
@selfrefactor

Hi, it seems that another error is occurring in the CRA.
I tried with 2 versions of `5.12.1-fixed` ` 6.3.0-beta`, but I get the following error.

[code]

CRA version is `v3.4.3`.

[2020-11-13 10:39] selfrefactor commented on #519
Thank you @naomei for your report. I am reopening this issue. I'll check the problem and I'll get back to you.

[2020-11-13 11:03] selfrefactor commented on #519
@naomei I just run a test with latest TS CRA and I couldn't reproduce the error.

What I did:

1. `npx create-react-app my-app --template typescript`
2. `yarn add rambda`
3. Edit App.tsx to include Rambda calculation
4. Start with `yarn start`

Can you confirm that with these steps, you are still getting the error?

[2020-11-13 11:58] naomei commented on #519
Thank you for your reply.

Yes, I have tried the same process now.
There seems to be no problem.

However, the env of the current project is not the latest CRA and TS.
Below is package.json. (Partial)

[code]

# resolve

It seems to work if the version of typesctipt is 4 or higher.

What I did:
[code]

I updated the typescript version from 3 to 4 and it worked fine. (Is this as expected?)

[2020-11-13 13:28] selfrefactor commented on #519
The issue is related to TS version 3.*.* and TS-toolbelt package. If for some reason, you are using below 4, then `Rambda` will not compile.

While I try to reproduce, I notice this line in https://create-react-app.dev/docs/adding-typescript/#installation :

[code]

This could explain why your TS version was not 4.0.*

As you have fixed your problem, I'll close the issue, but feel free to comment

[2020-11-13 13:28] #519 closed

[2020-11-17 01:38] VoidNoire commented on #459
I'd like to request a function that works like https://github.com/ramda/ramda/pull/3047 or https://github.com/victorperin/named-curry. I'm aware Rambdax has `partialCurry` which is similar, so maybe it might be better to rewrite that existing function to work like they do?

[2020-11-17 09:12] selfrefactor commented on #459
Thank you @VoidNoire for the suggestion. Please open a PR with this method as I am open to your suggestion. I suppose you know that the PR should be towards `Rambda` even thought the method will be exported from `Rambdax`. Let me know if you have issues with creating the PR.

[2020-11-17 11:32] VoidNoire commented on #459
@selfrefactor Hey, thanks for letting me know about that requirement. Unfortunately, I don't think I quite understood what you mean though. Aside from following [the instructions here](https://github.com/selfrefactor/rambda/blob/master/CONTRIBUTING.md), what other steps should I take to satisfy the requirement you mentioned? Also, What should I name the new function?

[2020-11-17 20:44] VoidNoire commented on #556
Personally I'd prefer better and stricter error handling over 1:1 compatibility with `Ramda`, since this seems like a fault of their implementation so it shouldn't desireable to keep it. If dropping backwards-compatibility isn't an option, we could instead provide both the backwards-compatible version, which would use their old names, and the improved version using new names/on a different reposit

[2020-11-17 20:57] VoidNoire commented on #459
I think `Rambdax` should have in its `README.md` and web page a separate section specifically just for the `Rambdax`-exclusive functions, to make it easier to see the differences between `Rambda` and `Rambdax`. Or maybe even have these only display information about the `Rambdax`-exclusive functions, and then simply put links on them to the `Rambda` web page/`README.md` to prevent having to displa

[2020-11-18 07:27] selfrefactor commented on #459
@VoidNoire New documentation site is on the way, so I will keep your suggestion in mind. I can place an info on every Rambdax methods, that this method is not part of Rambda API.

[2020-11-18 07:29] selfrefactor commented on #556
I intend to make a breaking change. What I need is discussion, if this suggestion has grounds, so I thank you for your input.

[2020-11-20 07:57] peterreisz opened #559 "PropOr typings are not safe"
I gathered several cases with the results, please review them and If you agreed fix the typings according to.

[code]

I also tried to fix the type definition, it is the best I could do:
[code]

[2020-11-20 08:03] peterreisz opened #560 "Make the whole rambda type definition immutable"
It is an immutable library, so all the typings should be readonly and ReadonlyArray.

Eslint has a plugin for it (in the `eslint-plugin-functional` package), so it can be automatized:

Minimum eslint config only for this rule:
[code]

The following command will do all the work (you will need a tsconfig.json):
[code]

On the latest version (6.3.1) it founds and fixes 255 non-readonly types.

[2020-11-20 08:43] peterreisz commented on #559
The curried version is not working, and the problem is the same with the propEq. I'll try fix them both and give you more test cases.

[2020-11-20 08:48] selfrefactor commented on #560
This is nice suggestion @peterreisz

I did create a command `immutable` but I have to yet to apply it to TS files. I'll get back to you later, when changes are made to TS definitions.

[2020-11-20 08:49] selfrefactor commented on #559
Much obliged

[2020-11-24 16:23] selfrefactor commented on #559
I just applied your suggestion @peterreisz , but curried typings tests doesn't seem to work. Would you take a look at it?

I created a branch `issue-559` with your suggestion and with the failing test, so you can see the failing tests.

[2020-11-24 16:39] selfrefactor commented on #560
Closing this as changes are applied with version `6.4.0`.

[2020-11-24 16:39] #560 closed

[2020-11-24 16:40] selfrefactor commented on #553
Closing this as changes are applied with version `6.4.0`.

[2020-11-24 16:40] #553 closed

[2020-11-24 17:04] peterreisz commented on #559
Still thinking an a good solution, but I'm out of ideas. The best version for `propOr` and `propEq` I managed to get so far is this:

[code]

Problems with the version above:
- cannot use `undefined` in the valueToMatch or defaultValue without manually specifying the generic types
- cannot use together with other rambda functions without defining the generic types. For example `anyPass` with multi

[2020-11-24 19:40] selfrefactor commented on #559
So `R.propOr` definitions pass the tests and will be released with the next version - `6.6.0`. The issue will remain open until the release is made. `R.propEq` did not pass the test, so for now this suggestion cannot be applied. Thank you for you effort, as this issue is much deeper than just these 2 methods.

[2020-12-05 22:40] StreetStrider commented on #459
@selfrefactor man, where I can check what's changed in v6? I see no changelog, nor [tag/release info](https://github.com/selfrefactor/rambda/releases). It is hard to create changelog retrospectively, but what if to just start changelog from current point in time + v6 major notes?
I don't know what would broke in v6.

[2020-12-06 13:44] selfrefactor commented on #459
Thank you @StreetStrider for spotting that out.

Actually there is changelog, but as README.md is too big for Github, Github truncates it. Now you should be able to see it at https://github.com/selfrefactor/rambda#-changelog

As for tag/releases - there was issue about that and since then I removed the shortlink to it, as it is used for testing purposes for now.

[2020-12-06 13:52] StreetStrider commented on #459
@selfrefactor I'm glad that changelog is present, since collecting it from scratch is a very unpleasant work. I'll check breaking changes, thanks for help.
What about making a distinct file? I'm asking, because, it seemes, looking for such file is a common pattern, not only me can fail to find changelog now. It's so common that `npm publish` even [includes changelog](https://docs.npmjs.com/cli/v6/

[2020-12-07 07:53] selfrefactor commented on #459
@StreetStrider having a separate file makes sense and it will be implemented. The file is already in `rambda-scripts` repo, so it just needs a pipeline that moves it to `rambda`.

[2020-12-14 19:13] selfrefactor commented on #459
@StreetStrider I just applied CHANGELOG.md changes upon our agreement with this commit: https://github.com/selfrefactor/rambda/commit/92eecc8b54dc180eb088da1a6e6950cea8578f6a

Still, the changes will be visible on NPM with the next release.

[2020-12-15 09:32] ivan-kleshnin opened #561 "Export types?!"
Hi Dejan! I'm switching to TypeScript (already using Rambda). Have noticed the following complexities which may be due to my misunderstanding or not. Will appreciate your advices.

Let's take a simple case. I  want to implement `dropEmpty` function on top of Rambda.

## In JavaScript

[code]

## In TypeScript

### Problem-1

There are no exported types so I have to copy-paste `Dictionary` definiti

[2020-12-15 17:40] selfrefactor commented on #561
First, I appriciate the effort in providing so clear to understand issue.

In regard to exporting types - I am unsure that all of internal types and interfaces needs exporting. I will evaluate each one, but in principle I agree that they shoud be exported. At the end, I think that most of those types/interfaces will be exported. I will ping you, once I have something of value to discuss.

In regar

[2020-12-21 22:09] selfrefactor commented on #561
In regards to your example - I see it as more of an issue of Rambda.filter as anything else.
I have to admit - as time passes by, not having `R.filterObject/mapObject` feels like a controversial and questionable decision, which I should reconsider, even if it comes with the price of major bump.

I can try improve some typings using your example of `R.dropEmpty` as a base and see where it goes. I'l

[2020-12-22 08:24] ivan-kleshnin commented on #561
I can agree with that – other functions look more specialized. `R.map` shares the same problem though.

Yeah. The problem with this approach is that when you decide to support `Set`, `Map` and other extra objects – naming kinda fails apart. That's why I think **Elm** managed it perfectly – they have clearly separated modules for each major type.

Eventually, questions like "Where to put `join` – i

[2021-01-07 09:49] selfrefactor commented on #561
Just to inform you that I didn't forget about this issue. Next weekend, at most, I will make a release that will include export of internal types and interfaces.

[2021-01-07 22:25] selfrefactor commented on #561
Hi Ivan,

I decided that I shouldn't postpone this issue any longer.

Version 6.5.0 export several of internal types and interfaces. You can see the commit above for further details.

I won't export all internal interfaces as I see only few of the makes sense to be exported. Also some types, such as `Partial`, have too common names and could clash with TS native interfaces. Also, some types seems

[2021-01-07 22:25] #561 closed

[2021-01-08 07:16] ivan-kleshnin commented on #561
Hello, Dejan. Thank you for the clear explanation and for the work you've done!
My experience with TS and functional patterns in TS is very similar 😒
I will share updates as I have them.

[2021-01-12 16:26] selfrefactor commented on #559
Closing this issue as the promised changes are applied with the release of version `6.5.0`.

[2021-01-12 16:26] #559 closed

[2021-01-12 16:28] selfrefactor commented on #556
I am closing this issue, as there is no enough traction for this to be applied to Rambda.

[2021-01-12 16:28] #556 closed

[2021-01-13 07:59] selfrefactor commented on #515
There are other priorities now, so I am closing this for now. It's possible to be revisited later.

[2021-01-13 07:59] #515 closed

[2021-01-13 08:00] selfrefactor commented on #475
There are other priorities now, so I am closing this for now. This should be revisited later.

[2021-01-13 08:00] #475 closed

[2021-02-02 06:50] ivan-kleshnin commented on #459
Any reason why `Extract` is not used here instead of `Pick` and `Exclude` combo:

[code]

My version is uncurried but:

![Screen Shot 2021-02-02 at 08 46 42](https://user-images.githubusercontent.com/2128182/106562656-462ca300-6533-11eb-9550-7622735ae239.png)

^ also looks like `readonly` modifer is unnecessary here.

[2021-02-02 08:35] ivan-kleshnin commented on #459
Hi @selfrefactor! Why `pick` is typed in such a complex manner:

[code]

https://github.com/selfrefactor/rambda/blob/master/index.d.ts#L921-L922

where a simple `Pick` seemingly serves the purpose:

![Screen Shot 2021-02-02 at 10 29 17](https://user-images.githubusercontent.com/2128182/106572802-914db280-6541-11eb-8cd3-216464099836.png)

What am I missing?

[2021-02-02 10:03] ivan-kleshnin commented on #459
Another weird thing:

[code]

vs

[code]

[2021-02-02 10:51] selfrefactor commented on #459
Thank you @ivan-kleshnin for bringing this up. I'll look into it after work and get back to you.

[2021-02-02 23:37] selfrefactor commented on #459
Regarding your first comment - if you place your suggestion for `R.pick` and open `source/pick-spec.ts`, you will immediately see(at least in VSCode) that there are errors. If the definitions seems complex, the reasoning is that path input can be also a string.

I have trouble understanding the second comment. I don't see `OpaqueDict` in Rambda files. Also, while I notice that there is something t

[2021-02-03 07:49] ivan-kleshnin commented on #459
Ok, got it.

Yes, it's a TS question / notice. `OpaqueDict` is my term but its definition is shown (`type OpaqueDict = Dict<unknown>`).
I've raised this point because your `Dictionary` is defined in one way that TS does not resolve correctly (judging from the above) and it sometimes caused problems in my client code that depended on it.

[2021-02-03 12:21] selfrefactor commented on #459
No, I haven't faced this issue, yet. I can say that I am not fully surprised that there is difference between `type` and `interface` as I have distant memories reading something about it. It seems that I am unable to help beyond that. Still, I will make a note to investigate further as this is something curious.

[2021-02-16 08:55] synthet1c opened #565 "Dealing with readonly types returned from immutable array operations"
I'm having a problem using rambda for ngrx selectors that requires me to explicitly set **readonly** on immutable values to match the typescript definitions in rambda. It is also out of alignment with Ramda which does not force immutable return values through **readonly**.

Would you consider removing the *readonly* return type to keep type definitions as concise and compatible as possible? or do

[2021-02-16 10:23] selfrefactor commented on #565
The readonly attribute all around is caused by https://github.com/selfrefactor/rambda/issues/560

In `rambda-scripts` repo, there is command `yarn immutable` which made the change. Not sure what to do, as I see you have a valid point. Skipping immutable only for R.filter won't solve the generic problem.

I tried changing options of eslint immutable plugin, but I didn't saw any change - https://git

[2021-02-16 11:06] synthet1c commented on #565
I removed all the immutable return types keeping the immutable input types in my local version of `index.d.ts` which solved the issue, but it's a big change, and I can't run all the tests to check if anything breaks until I get my local dev environment working.

It would make it easier to work with the library as at the moment I would need to change types in hundreds of places and I'm not going to

[2021-02-16 11:28] selfrefactor commented on #565
I agree that your last code is something one wants to avoid. Let's wait for Peter to join in and meanwhile I'll think if it is possible to keep somehow both versions(with and without readonly). Maybe by double release - publish `7.5.2` without readonly and `7.5.2-fp` with readonly.

[2021-02-16 11:34] synthet1c commented on #565
Could you have a folder for immutable types using it's own typescript definition, that way there isn't two versions of the library and instead just two different typescript definition files.

[code]

[2021-02-16 11:51] peterreisz commented on #565
Making everything readonly is a safeguard for immutability to prevent bugs. I not once saw when the dev wanted to set just a property in an object introducing some unwanted behaviour.
This and typescript compiler options like strict gives you the power to write more reliable code.
I highly recommend to change your mind about it, otherwise you just downgrade typescript to the level of javascript.
T

[2021-02-16 13:30] selfrefactor commented on #565
Thank you @peterreisz for joining in. I also haven't faced any issue with `readonly` and my only reasoning was readability of `files/index.d.ts`.

I'd suggest indeed something along the lines of `import { filter } from 'rambda/foo`. The question here what will be the name and content of `foo.ts`. Should the preference go to with or without `readonly`? I think that the preference must be in favor o

[2021-02-16 14:05] synthet1c commented on #565
[code]

[2021-02-16 14:27] selfrefactor commented on #565
@synthet1c agreed, but the issue will be closed after the changes are made and new version released. This will happen soon enough, but I cannot give now a hard date.

[2021-02-16 14:46] peterreisz commented on #565
Your welcome @selfrefactor. I prefer readonly.

In case of you want to introduce an alternative variant you could choose:

[code]

I think unsafe indicate something bad.

@synthet1c Its not only angular, but typescript as well. Find some good material on the topic, there are some interesting parts of it, for example typeguards. If you prefer videos, Udemy has some great courses. Also I can recomme

[2021-02-16 16:09] selfrefactor commented on #565
I agree with Peter, that `unsafe` is maybe not the best option. I though initially for `non-strict` but I find it a bit verbose, even if it is perfect descriptor. I'd suggest also `loose` as alternative to `non-strict`.

I'll leave Andrew choose the word. Possible options:

- loose
- non-strict

I prefer one of these two, as I might want to add more to the alternative typing than simply removing `

[2021-02-16 23:01] synthet1c commented on #565
This is way too much responsibility for me.

The teenager in me likes **"loose"** for the lolz, but it sounds a bit unprofessional and doesn't infer the meaning even though it is the opposite of strict, "loose-types" might be better.

**"unsafe"** was a nod to react building in a little shame for using the bad practice and as a contract between the library and the developer both parties agree to.

[2021-02-17 07:43] selfrefactor commented on #565
So it is agreed to be `non-strict`. As it is not a trivial task, it might take up to two weeks before a release is made. I'll write again, when there is a progress.

[2021-02-18 20:03] selfrefactor commented on #565
I think that, while we have an agreement, this will complicate already complicated build and test process. What I will do is that there will be a script to remove `readonly` types(we already have script to return them back). I can use this script to make a new NPM release in the form of `X.X.X-loose`(or `X.X.X-beta` if that is not possible), which will be the same version of `X.X.X` but without `r

[2021-02-19 07:54] peterreisz commented on #565
The main problem is if the functions returns with `ReadonlyArray<T>` the result cannot be directly passed to a function or type which is `T[]`. But for a readonly parameter you can pass a non-readonly type.

I was thinking about the problem and I might have a midway solution:
All input parameters should be `readonly T[]`. All output parameters should be `T[]`. The lib is immutable, it always retur

[2021-02-19 08:35] selfrefactor commented on #565
That would work great. I am just unsure how to apply the change. From what I see, ESLint immutable plugin doesn't offer such option, but I might be wrong.

[2021-02-19 12:52] peterreisz commented on #565
Haven't tried, but here there is an option for it:
https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/prefer-readonly-type.md

[code]

[2021-02-19 13:12] selfrefactor commented on #565
I added the option, then removed `readonly` from the return type of R.append. When I ran `yarn immurable` from `rambda-scripts`, the change is reverted.

[2021-02-21 10:43] peterreisz commented on #565
I've checked and it seem it doesn't support linting type definition files. I think the issue is occurs when there is no function body.

Try tslint instead, it's a deprecated project, but seems working for me.

[code]

[code]

There might be a problem with the object return type, there is no option for ignoring readonly for those.
In case of arrays the cause of compilation problems is the missing m

[2021-02-21 15:03] MihailPertsev opened #566 "R.flip example in documentation is wrong"
Typo in documentation:
[code]

[2021-02-22 11:07] selfrefactor commented on #566
will look into it. Thanks for the issue.

[2021-02-27 09:28] selfrefactor commented on #565
I see that we have found a bug in ESLint plugin. Which is nice, as if it is resolved, then our solution is easy. I'd prefer first fixing it with a command, and if not successful, then I'll give tslint-mutable a chance.

[2021-02-27 09:30] selfrefactor commented on #566
The issue is fixed. Closing

[2021-02-27 09:30] #566 closed

[2021-03-02 20:46] kerspoon opened #567 "typescript for toPairs doesn't match fromPairs"
I would expect that the typescript types for toPairs and FromPairs to match so that you can put them together

`function identity(obj: MyObj): MyObj {
  const x = toPairs(obj);
  return fromPairs(x);
}`

currently they are:

`export function fromPairs<V>(listOfPairs: readonly KeyValuePair<string, V>[]): { readonly [index: string]: V };`
`export function fromPairs<V>(listOfPairs: readonly KeyValueP

[2021-03-03 07:55] selfrefactor commented on #567
I applied the change and it will go live with upcoming version 6.6.0
I will write again here when the release is made.

[2021-03-04 03:24] sudoman opened #568 ""benchmarks" link in the readme is broken"
It looks like adding a dash to the URL is a workaround: <https://github.com/selfrefactor/rambda#-benchmarks>.

[2021-03-04 03:43] sudoman opened #569 "Question about the benchmarks"
Thanks for the cool library. : )

It looks like there are many stats where one system is 99% or 98% slower than the fastest result, but I see none that are 100% or above. My interpretation of "99% slower" is that it takes 199% as long as the fastest case. If this is the meaning, then I wonder why there are none that are over 100% slower (over 200% run time compared to fastest library), etc.

It se

[2021-03-04 08:09] selfrefactor commented on #569
The numbers are coming from https://www.npmjs.com/package/benny
99% faster means that one value is like 1000000 while the other is like 100, so the first one is faster that the second with 100% - (100/1000000). I hope that answers your question. Take a closer look at **benny** if you have more questions.

[2021-03-04 08:09] #569 closed

[2021-03-04 08:12] selfrefactor commented on #568
Thanks for the report. It is fixed now.

[2021-03-04 08:12] #568 closed

[2021-03-05 17:44] MartinMuzatko opened #570 "deno install broken"
https://raw.githubusercontent.com/selfrefactor/rambda/master/dist/rambda.esm.js -> not found

[2021-03-06 09:02] selfrefactor commented on #570
I will look into it. Most probably, I'll have to remove dist from .gitignore and make a new release.

[2021-03-18 07:32] Retro64 commented on #565
When migrating a project from ramda to rambda we also stumbled over this issue at work (we used ramda/map with DefinitlyTyped types). So, at least from our point of view, the readonly return values interfere heavily with the ramda interface - you find rarely types for ramda functions returning readonly values  (so no longer "may vary", but definitely breaks). The immutability is - as here suggeste

[2021-03-19 10:49] tonivj5 commented on #330
Hey @selfrefactor, maybe this issue should be reopened... I come from angular-cli repo, using ts-toolbelt as raw typescript files produce a lot of warnings transpiling my typescript code.

Could you check my angular issue, it's here: https://github.com/angular/angular-cli/issues/20333

[2021-03-23 09:53] selfrefactor commented on #330
Thanks @tonivj5 for your comment. I am reopening this issue and I'll write back when I know how to proceed further.

[2021-03-23 09:55] tonivj5 commented on #330
Thanks @selfrefactor for the attention 😄

[2021-03-24 08:50] vibl opened #572 "has() should use Object.prototype.hasOwnProperty()"
Currently in Rambda, `has()` checks whether the value is `undefined`, which is not what the doc says it does ("It returns true if obj has property prop.").

Instead, `has()` should use `Object.prototype.hasOwnProperty()`, as it does in Ramda. I have been bitten by this undocumented incompatibility.

Also, for reference, in Lodash, `_.has({a: undefined}, 'a') === true`

[2021-03-24 19:21] selfrefactor commented on #570
Closing as this was fixed in `6.6.0`.

[2021-03-24 19:21] #570 closed

[2021-03-24 22:42] selfrefactor commented on #330
I tried to use `ts-toolbelt` as peer/dev dependency, but then all of `dtslint` tests using `ts-toolbelt` broke.

Then I took the other option, i.e. remove the usage of `ts-toolbelt` types. I am closing this as version `6.7.0` should fix it. Please reopen if it does not.

[2021-03-24 22:42] #330 closed

[2021-03-24 22:46] selfrefactor commented on #565
Thank you @Retro64 for your input, but I fail to understand your suggestion. Otherwise, I haven't forgotten the issue and I will move it forward soon.

[2021-03-24 22:49] selfrefactor commented on #572
Thanks @vibl  for this suggestion. In order to properly fix it, I'll need to check in which other methods it makes sense to be used. I will get back with this list and timeline for the fix.

[2021-03-24 22:50] selfrefactor commented on #567
Closing this as `6.6.0` was released with this fix.

[2021-03-24 22:50] #567 closed

[2021-03-26 14:14] Retro64 commented on #565
I guess the proposal was to make the parameters readonly to ensure immutability - I just pointed out this would also match the current ramda interface/types and would therefore be - at least from my point of view - the preferable way to go.

And I wanted to provide the workaround besides an - following my example - `bar = readonlyBar as Bar[];`. I actually did not find the source of this workaroun

[2021-03-30 10:52] Debdut opened #573 "anyTrue not exported"
I imported like this

[code]

I get the following error

[code]

I searched the `rambda/dist/rambda.esm.js` and it doesn't have any mention of `anyTrue`. All other imports are working correctly!

[2021-03-30 10:55] Debdut commented on #573
I see it, just update the docs at https://selfrefactor.github.io/rambda

[2021-03-30 11:26] selfrefactor commented on #573
I am closing this as R.anyTrue is part of Rambdax, not Rambda.

[2021-03-30 11:26] #573 closed

[2021-04-14 11:20] yairopro opened #574 "So __ is not gonna be added ?"
In #3 2017 you said it will need to rewrite the library in order to add the function placeholder __.
Is it possible now ? Or is it on a roadmap ? Or is it completely out of picture to add this feature ?

[2021-04-14 11:24] yairopro commented on #574
This question should have been added to the discussions tab rather than in the issues, sorry 😬. I am still not used to the discussions tab, my bad.

[2021-04-14 11:32] selfrefactor commented on #574
Thanks @yairopro for bringing this up.

In retrospection to the issues related to Typescript usage of libraries such as Ramda/Rambda, I am even less inclined to add the placeholder `R.__` method.

It might be hard to implement in JS, but to describe properly in TS will increase the already complex state of Rambda typings.

I will close the issue, but feel free to comment further.

[2021-04-14 11:32] #574 closed

[2021-05-01 11:45] jasonnathan opened #575 "dropRepeatsWith() doesn't exist in REPL & usage is wrong in docs"
Usage is incorrect in the [docs](https://selfrefactor.github.io/rambdax/#/?id=droprepeatswith). Also, `R` in the [REPL](https://rambda.now.sh/?const%20list%20%3D%20%5B%7Ba%3A1%2Cb%3A2%7D%2C%20%7Ba%3A1%2Cb%3A3%7D%2C%20%7Ba%3A2%2C%20b%3A4%7D%5D%0Aconst%20result%20%3D%20R.dropRepeatsWith(R.prop(%27a%27))%0A%0A%2F%2F%20%3D%3E%20%5B%7Ba%3A1%2Cb%3A2%7D%2C%20%7Ba%3A2%2C%20b%3A4%7D%5D) does not contain `d

[2021-05-02 10:33] selfrefactor commented on #575
REPL is easy to fix as it needs update to include the latest changes.

Can you share what exact;ly is wrong in method's usage in docs?

[2021-05-06 13:15] alexander-entin opened #576 "R.uniq should not convert undefined to null in Rambda REPL"
R.uniq([undefined, null])
// expected result: [undefined, null]
// actual result: [null, null]
// (at least in the [playground)](https://rambda.vercel.app/?const%20result%20%3D%20R.uniq(%5Bundefined%2C%20null%5D))

[2021-05-09 08:38] selfrefactor commented on #576
It seems that the issue is related to REPL as I added a new test case in `uniq.spec.js` and it looks that it is working correctly. I will write again once I understand why this happens only in REPL.

[2021-05-09 09:12] selfrefactor commented on #576
The reason is that `JSON.stringify([null, undefined])` is equal to `[null, null]` and REPL app is using `JSON.stringify` . I will keep the issue open until I solve the issue.

[2021-06-14 09:34] ivan-kleshnin opened #578 "Expose `mapObject`, `mapArray`, `filterObject`, etc. low-level functions"
In many cases TS can not correctly infer `Array` vs `Object` types which becomes problematic for `map`, `filter` and maybe few other highly polymorphic functions.

Rambda already have `mapArray` + `mapObject` functions and implements `map` in their terms.
They are even exported but, unfortunately, untyped.

As a relatively low effort solution, can we add those types to allow end users to decide wh

[2021-06-14 15:32] selfrefactor commented on #578
I will export them and add a comment to R.map and R.filter that they can use the new methods.

[2021-06-18 08:33] Retro64 commented on #565
One question regarding this issue:

Would it makes sense to add this in the README under "differences between ramda and rambda"? As far as I remember, the ramda types in Definitly typed were changed to avoid returning readonly in the past (see ```map``` as example https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f7ec78508c6797e42f87a4390735bc2c650a1bfd/types/ramda/index.d.ts#L1030)

[2021-06-18 09:08] selfrefactor commented on #565
I am unsure what to list as a difference. From what I see, `@types/ramda` still returns `readonly` for R.map. Am I missing something @Retro64 ?

[2021-06-18 09:30] Retro64 commented on #565
As far as I remember, they changed the signature in the past not to return readonly anymore - at least for some functions (I simply post map as example)

Current ```@types/ramda```
[code]

Current Types in rambda
[code]

At least I do not see a readonly on the current ```@types/ramda``` and as far as I remember, I had some effort in the past when bumping the version (when we still used ramda).

[2021-06-18 09:55] selfrefactor commented on #565
Thanks

I didn't see it, thank you for posting the full example  @Retro64

Then I agree that this should be included in the list of differences.

[2021-06-19 07:41] selfrefactor commented on #578
On second thought, I'd prefer exposing them in Rambdax. Let me know if that is fine with you.

[2021-06-21 05:01] ivan-kleshnin commented on #578
No complaints, I just didn't try Rambdax yet. Are both libraries released/updated at the same time, automatically? (I mean if some change should be in both)

[2021-06-21 10:22] selfrefactor commented on #578
Rambdax releases include all of Rambda changes, but the release is triggered only if there is a change in any of Rambdax-only methods. The release is automated where possible, but the process is manual. I'll write again when the issue is fixed and release is made.

[2021-06-27 15:22] bovine3dom opened #581 "R.uniq is slower than Ramda for big arrays"
Minimal example:

[code]

- in Ramda: ~1ms
- in Rambda: ~600ms

Related downstream issue: https://github.com/tridactyl/tridactyl/issues/3772

: )

[2021-06-28 07:50] selfrefactor commented on #581
I will run the code through Rambda benchmark and I'll get back to you.

[2021-06-28 08:52] selfrefactor commented on #581
Thank you @bovine3dom as this is a serious issue, which I can confirm. I will report again when there is a progress on this problem.

[2021-06-28 10:08] selfrefactor commented on #565
I also saw the issue of `readonly` and I agree that it forces the user to use `readonly` and this is not intended. I will add `immurable.ts` file and users can import `rambda/immutable` to access typings with readonly(i.e. the current state of Rambda typings). The change is coming in 6.8.0 and I'll write again when the version is ready.

[2021-07-09 02:45] synthet1c commented on #565
Hey Dejan, So happy that I can use this in my projects at work with readonly fixed. I'm trying to replace the `rambda/index.d.ts` with my own file but can't get the tsconfig right. Could you help me with instructions on how to do it?

This is my tsconfig.json, I'm attempting to use the `include` and `exclude` properties to overwrite the base `index.d.ts` is this the correct way, or how should I do

[2021-07-09 08:35] selfrefactor commented on #565
Hi @synthet1c

I am a bit late with the release of 6.8.0 as I wanted to release it much earlier. It won't take longer than 2 weeks.

As for your question of replacing Rambda types - I will try do that on a demo project and I'll get back to you.

[2021-07-11 13:42] selfrefactor commented on #572
`6.8.0` fixes that in `R.has`. Sorry for taking so long to complete the release.

I am keeping the issue open as might add it to other methods as well.

[2021-07-11 13:42] #572 closed

[2021-07-11 13:49] selfrefactor commented on #565
`6.8.1` was published with removed `readonly` types.

`readonly` version is still available by importing `rambda/immutable` instead of `rambda`.

Closing the issue, but please feel free to comment further.

[2021-07-11 13:49] #565 closed

[2021-07-14 09:06] Retro64 commented on #565
Instant feedback: Works like a charm. Thank you!

[2021-07-15 09:42] synthet1c commented on #565
Working well for me! I had an issue with using an old version of typescript but could easily polyfill the missing definitions. Thanks for your hard work over the weekend to bring it to us ahead of schedule!

[2021-07-23 19:14] aisamu opened #585 "Importing "rambda/immutable" works for types, but fails at build time"
Although the types work (e.g. we see `readonly` types on the function signatures), trying to compile a typescript file fails with:

[code]

[Node honors the "main" entry on `package.json`]( https://stackoverflow.com/questions/33621978/when-doing-require-for-npm-package-what-is-meaning-of-slash-in-package-name) when using "root" requires (e.g. `rambda`), but apparently ceases to do so when using "n

[2021-07-24 07:56] selfrefactor commented on #585
Thank you for the report and for all the suggestions. I think I'll choose the first one with `./immutable.js`. I'll write again once new release with the fix is deployed.

[2021-07-24 20:20] selfrefactor commented on #585
I applied the first suggestion to the new Rambdax version `7.3.0`. Can you confirm that it works, so I can apply the solution to Rambda?

[2021-07-24 20:21] selfrefactor commented on #578
Requested methods had been added with Rambdax version `7.3.0`.

[2021-07-24 20:21] #578 closed

[2021-07-24 20:57] aisamu commented on #585
Confirmed that it works with `rambdax@7.3.0`! 🥳
Thanks for the promptness!

[2021-07-25 09:07] selfrefactor commented on #585
The fix is published to Rambda with version `6.8.3`. Thank you for bringing it up.

[2021-07-25 09:07] #585 closed

[2021-07-25 21:24] selfrefactor commented on #581
I have pinned the reason for this issue. Expect a fix with version `6.9.0`.

[2021-07-31 05:58] selfrefactor commented on #581
`6.9.0` was released with improved performance for `R.uniq` and several other related methods. I am closing the issue, but please feel free to comment further.

[2021-07-31 05:58] #581 closed

[2021-08-02 06:25] selfrefactor commented on #581
As a side note I am adding a bit more information about the result.

During developing the fix, I realized that underlying issue was lack of correct benchmarking process. As a result, there is now a new format for Rambda benchmark(https://github.com/selfrefactor/rambda/blob/master/source/benchmarks/uniq.js) which can produce dev-only benchmark result: https://github.com/selfrefactor/rambda-scripts

[2021-08-13 12:58] ivan-kleshnin commented on #565
My 5 cents. `readonly` is one of the worst features ever added to TypeScript. I can't remember a single case where it prevented a bug in my code (the habit of not using mutable operations pays off) but I surely remember countless times it bothered me and slowed me down. It has a "divisive" effect on code bases: you have to either remove it alltogether or add it everywhere (which is never convenien

[2021-08-13 14:17] coreagile commented on #459
Question..is there a list of gotchas somewhere on migrating from Ramda to Rambda? For example, I just swapped the library out and one function stopped working: sort. I was doing `R.sort` on an HTMLCollection, which worked fine in Ramda , but broke in Rambda because Ramda uses `Array.prototype.slice.call(list...)` instead of `list.slice`

[2021-08-13 14:34] selfrefactor opened #595 "R.sort doesn't work with HTMLCollection"
Issue created from this comment - https://github.com/selfrefactor/rambda/issues/459#issuecomment-898490308

[2021-08-13 14:36] selfrefactor commented on #459
@coreagile I try to reduce the number of such exceptions. I try to address that with brute force test that compares the output of Ramda and Rambda. But from your comment, I realize that I need to expand the possible inputs.

I treat your comment as an issue - https://github.com/selfrefactor/rambda/issues/595 , but I will also consider adding section `Gotchas` as it makes sense to have one.

[2021-08-13 15:12] coreagile commented on #459
Cool thanks!

Stephen Starkey
forgiveness | bravery | honesty | fairness | leadership | creativity

Sent from my iPhone

[2021-08-18 01:22] pinghe opened #596 "use import * as R from "https://deno.land/x/rambda/rambda.js""
In the deno environment, it is not possible to use import * as R from "https://deno.land/x/rambda/rambda.js", because the file rambda.js is missing from https://deno.land/x/rambda,

[2021-08-18 08:15] selfrefactor commented on #596
Thanks for the report. I'll check what can be done for it. Can you share why you are opting to use `import * as R` instead of importing only the methods you will be using?

[2021-08-18 11:18] pinghe commented on #596
Testing, Learning

[2021-08-18 12:07] selfrefactor commented on #596
In this case, I'll check if Ramda and Lodash provides such option for their deno builds. I am asking as I used `import * as R` only before realizing that this pattern has problems. I'll write back when I have more info.

[2021-08-20 00:18] pinghe commented on #596
ramda
[code]

[2021-08-20 08:40] synthet1c opened #597 "Unable to specify groupBy return type."
Hey Dejan,

I'm trying to use groupBy in my code but have an incompatible type. Could I update the type signature to allow for specifying an input and an output?

This is a [simple example](https://stackblitz.com/edit/typescript-n6ux6q?devtoolsheight=33&file=index.ts) of what I'm dealing with.

[code]

When I call groupByPosition the return type is `{ [index: string]: T[] }`. While it seem like it

[2021-08-20 12:22] selfrefactor commented on #597
Thanks for the report Andrew. I take a look at your suggestion and I'll report back.

[2021-08-20 13:48] selfrefactor commented on #596
From what I see in https://github.com/ramda/ramda/pull/3054/files, the issue is more about `nest.land` support. In this case, I'd rather skip the request for now. If you agree, let us wait a bit until more people using Deno share their opinion on the matter and then we can either dismiss the request or make the appropriate changes.

[2021-08-23 08:47] pinghe commented on #596
https://github.com/ramda/ramda/blob/master/README.md

Installation
------------

To use with node:

[code]

Then in the console:

[code]

To use directly in [Deno](https://deno.land):
[code]

or using Nest.land:
[code]

[2021-08-23 12:45] selfrefactor commented on #596
I saw that as well, but I have some questions as I cannot see enough value for Rambda integration with Nest.land as I don't use Deno yet.

In this case, I think to create a process that builds `rambda.ts` file inside `src` folder, instead of using `mod.ts` file. Also, I have some other tasks before moving to this one, so I cannot close the issue so quickly and I hope you patient enough; it will ha

[2021-08-24 00:21] pinghe commented on #596
thank you.

[2021-09-02 19:07] trajano opened #599 "R.equals on sets do not appear to work"
[code]

fails on  `expect(R.equals(new Set(['3', '2', '1']), new Set(['2', '3', '3', '2', '1']))).toBeTruthy();` this works correctly in ramda